.error {
  .container {
    padding-top: 21.8rem;
    display: flex;
    justify-content: center;
    padding-bottom: 15.7rem;
    max-width: 88.3rem;
    margin: 0 auto;

    &__left {
      &-text {
        display: inline-block;

        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30rem;
        line-height: 105.3%;
        /* or 316px */
        color: #B7B7B7;
      }
    }

    &__right {
      padding-left: 13.1rem;
      display: flex;
      flex-direction: column;

      &-oops {
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 6.2rem;
        line-height: 105.3%;
        /* or 65px */
        /* Text */
        color: #393A4E
      }

      &-text {
        padding-right: 5rem;
        padding-top: 1.9rem;
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 156%;
        /* or 27px */

        /* Blue */
        color: #8EC2F5;
      }



      &-btn {
        margin-top: 1.7rem;
        border: none;
        outline: none;
        text-decoration: none;
        width: 24.9rem;
        height: 6rem;
        border: none;
        outline: none;
        background: #8EC2F5;
        display: flex;
        align-items: center;
        justify-content: center;


        &-text {
          padding-right: 2.9rem;
          font-family: "Hind", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 115.3%;
          /* identical to box height, or 15px */
          letter-spacing: 0.25em;
          text-transform: uppercase;

          color: #FFFFFF;
        }

        &-arw {}

        &:hover {

          @media all and (min-width:576px) {
            background: #5E4AC5;
          }
        }

        &:active {
          background: #5E4AC5;
        }
      }

    }
  }
}