@import "normalize";
@import "fonts";
@import "slick";
@import "slick-theme";
@import "./jquery.fancybox";
@import "modal";
@import "trust";
@import "error";
@import "perfomance";



html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#map {
  height: 50rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.buttontip {
  align-items: center;
  cursor: pointer;
  display: block;
  margin-top: 4.9rem;
  max-width: 30.1rem;
  display: flex;
  text-decoration: none;
  background: rgba(142, 194, 245, 1);
  padding-right: 2rem;
  border: none;
  outline: none;

  &-text {
    padding: 2.4rem 0 2.1rem 1rem;
    display: inline-block;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 115.3%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &-arrow {
    padding-right: 2.8rem;
    display: inline-block;
  }



  &:hover {

    @media all and (min-width:576px) {
      background: #5E4AC5;
    }
  }

  &:active {
    background: #5E4AC5;
  }


  &_width {
    width: 19.8rem;
  }

  &_change-width {
    max-width: 23.7rem;
    background: #5E4AC5;

    &-text {
      padding: 2.4rem 0 2.1rem 3.1rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }

    &:hover {

      @media all and (min-width:576px) {
        background: #8EC2F5;
      }
    }

    &:active {
      background: #8EC2F5;
    }
  }

  &_change-width-effictive {
    display: flex;
    width: 19.8rem;
    background: #8EC2F5;
    padding-right: 0;

    // padding-left: 2rem;
    &-text {
      padding: 2.4rem 0 2.1rem 3.4rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }

    &:hover {

      @media all and (min-width:576px) {
        background: #5E4AC5;
      }
    }

    &:active {
      background: #5E4AC5;
    }
  }

  &_change-width-effect {
    display: flex;
    width: 19.8rem;
    background: #8EC2F5;
    padding-right: 0;

    // padding-left: 2rem;
    &-text {
      padding: 2.4rem 0 2.1rem 3.4rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }

    &:hover {

      @media all and (min-width:576px) {
        background: #5E4AC5;
      }
    }

    &:active {
      background: #5E4AC5;
    }
  }

  &_change-width-help {
    background: #8EC2F5;

    &-text {
      padding: 2.4rem 0 2.1rem 3.1rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }
  }

  &_change-width-communication {
    max-width: 30.5rem;
    background: #8EC2F5;

    &_text {
      padding: 2.4rem 0 2.1rem 0rem;
      margin-right: 0rem;
    }
  }

  &_change-width-sub {
    max-width: 26.2rem;

    &-text {
      padding: 2.4rem 0 2.1rem 3.1rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }

    &:disabled {
      background: #B7B7B7;
      color: #9D9CA3;
      cursor: default;
    }


  }

  &_perfomance {
    background: #8EC2F5;
    width: 19.8rem;
    display: flex;
    justify-content: center;

    &-text {
      padding: 2.4rem 0 2.1rem 3.1rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 2.8rem;
    }

    &:hover {

      @media all and (min-width:576px) {
        background: #5E4AC5;
      }
    }

    &:active {
      background: #5E4AC5;
    }
  }
}

.wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
}

.logoup {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    top: -1.4rem;
    right: -0.8rem;
    position: absolute;
    display: block;
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    background: rgba(94, 74, 197, 0.2);
  }
}

.navbar-fixed-top.scrolled {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

#toTop {
  cursor: pointer;
  z-index: 15;
  background: #8EC2F5;
  width: 4.5rem;
  height: 4.5rem;
  position: fixed;
  bottom: 1.3rem;
  right: 0.8rem;
  display: none;
  display: flex;
  justify-content: center;
}

.text {
  display: inline-block;
  display: flex;
  margin: 0;
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 115.3%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #5E4AC5;

  &:before {
    margin-top: 0.4rem;
    margin-right: 4.3rem;
    z-index: 2;
    display: block;
    left: 0;
    content: '';
    height: 0.2rem;
    width: 5rem;
    background-color: #5e4ac5;
  }

  &_color-white {
    color: white;

    &:before {
      background-color: #fff;
    }

  }

}

.block {
  background-image: url(..//img/help2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 42rem;
  height: 31rem;
  display: flex;
  align-items: center;

  &-text {
    display: inline-block;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 118%;
    text-align: center;
    color: white;
  }

  &_change-back1 {
    background-image: url(..//img/help2.png);
  }

  &_change-back2 {
    background-image: url(..//img/help3.png);
  }
}

.icon {
  box-sizing: border-box;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #5E4AC5;
  border-radius: 50%;
  display: flex;
  position: relative;

  &-img {
    display: inline-block;
    margin: auto;
  }

  &:before {
    content: "";
    top: -0.8rem;
    right: -0.8rem;
    position: absolute;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: rgba(94, 74, 197, 0.2);
  }

}

.downmenu {
  display: inline-block;
  position: absolute;
  z-index: 15;
  left: 11rem;
  top: 40%;
  width: max-content;
  background: #8EC2F5;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  &:before {
    margin-left: 2.3rem;
    margin-top: -0.3rem;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    background: #8EC2F5;
    ;
    transform: rotate(45deg);
  }


  &-item {

    display: inline-block;
    text-align: left;
    padding-left: 2.2rem;
    padding-right: 2.2rem;

    &:first-of-type {
      padding-top: 2rem;
    }

    &-link {
      box-sizing: border-box;
      padding: 2.44rem 1rem 2.176rem 2rem;
      text-decoration: none;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 115.3%;
      /* identical to box height, or 15px */
      text-transform: uppercase;
      color: #FFFFFF;

      &:hover {

        @media all and (min-width:576px) {
          background: #A3CDF7;
          width: 100%;
        }
      }

      &:active {
        background: #A3CDF7;
        width: 100%;
      }

    }

    &:last-of-type {
      padding-bottom: 2.024rem;
    }
  }

  &_practice {
    left: 16rem;
  }

  &_principles {
    left: 17rem;
  }


}

.header {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 10;

  .container {

    max-width: max-content;
    margin: 0 auto;
    padding: 2.6rem 6rem 2.4rem 6rem;
    display: flex;
    align-items: center;
    // justify-content: space-around;

    &__logo {
      display: flex;
      align-items: center;

      &-mobile {
        display: none;
      }

      &-new {
        display: none;
      }

      &-link {
        text-align: start;
        display: inline-block;
        padding-left: 0.8rem;
        text-decoration: none;
        color: #000000;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3.4rem;
        line-height: 115.3%;
      }
    }

    &__nav {
      padding-left: 8.6rem;
      padding-top: 0.8%;
      display: inline-block;

      &-menu {
        list-style-type: none;
        display: flex;

        &-item {
          margin-right: 2.7rem;
          position: relative;

          &:last-child {
            margin-right: 0;


            position: relative;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 0.1rem;
              height: 4.4rem;
              background: #EBEBED;
              top: -1rem;
              right: -4.2rem;
            }
          }

          &:hover .container__nav-menu-submenu {
            visibility: visible;
            opacity: 1;

          }

          &-linked {
            display: inline-block;
            position: relative;
            cursor: pointer;
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.9rem;
            line-height: 155%;
            color: #9D9CA4;
            text-decoration: none;

            &:hover {
              color: black;
              transition: 0.5s;

            }

            &:focus {
              color: black;
              transition: 0.5s;

            }
          }
        }
      }
    }

    &__callback {
      display: block;
      display: flex;
      align-items: center;
      margin-left: 7.8rem;
      text-decoration: none;
      color: #393A4E;

      &:hover {
        .container__callback-logo {
          background: #5E4AC5
        }

        .container__callback-logo-img {
          display: none;
        }

        .container__callback-logo-img2 {
          display: block;
        }
      }

      &-logo {
        box-sizing: border-box;
        width: 3.5rem;
        height: 3.5rem;
        border: 2px solid #5E4AC5;
        border-radius: 50%;
        display: flex;
        position: relative;

        &-img {
          display: inline-block;
          margin: auto;
        }

        &-img2 {
          display: none;
          margin: auto;
        }

        &:before {
          content: "";
          top: -0.8rem;
          right: -0.8rem;
          position: absolute;
          display: block;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          background: rgba(94, 74, 197, 0.2);
        }
      }

      &-description {
        padding-left: 1.5rem;
        display: flex;
        flex-direction: column;

        &-text {
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 1.9rem;
          line-height: 105.3%;
          text-decoration-line: underline;
        }

        &-number {
          padding-top: 0.6rem;
          text-align: center;
          font-family: "Hind", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 1.9rem;
          line-height: 105.3%;
          color: #9D9CA4;
        }
      }
    }

    &__burger {
      display: inline-block;
      border: 0;
      outline: 0;
      background: transparent;
      display: none;
    }
  }

}

.slogan {
  padding-top: 11.8rem;

  &__left {
    display: flex;
    justify-content: center;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    z-index: 1;
    background: white;
    height: 100%;
    text-align: center;
    padding-right: 1.85rem;
    padding-left: 1.75rem;

    &-text {
      left: 0;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 132%;
      color: #9D9CA4;
      writing-mode: tb-rl;
      transform: rotate(180deg);
    }
  }

  &__mid {
    padding-top: 13.3rem;
    background: url(..//img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 20.8rem;
    width: 100%;
    opacity: 1;
    visibility: inherit;
    @media all and (max-width: 900px){
      padding-bottom: 19.8rem;
    }


    .slide {

      &__item {
        margin-left: 7.5rem;
        margin-bottom: 13.8rem;
        max-width: 76.7rem;
        background: linear-gradient(126.25deg, #302F9E 0%, #6E45BC 110.01%, #6E45BC 122.07%);
        display: none;

        &-wrap {
          padding-top: 7.9rem;
          padding-left: 9rem;
          max-width: 49.8rem;
          display: flex;
          flex-direction: column;

          &-headline {
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 6.6rem;
            line-height: 6.9rem;

            color: #FFFFFF;
          }

          &-btn {
            text-align: center;
            display: block;
            margin-top: 4.4rem;
            max-width: 31rem;
            margin-bottom: 8.4rem;
            display: flex;
            text-decoration: none;
            background: rgba(255, 255, 255, 0.15);
            border: none;
            outline: none;

            &-text {
              padding: 2.4rem 0 2.1rem 3.7rem;
              display: inline-block;
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 115.3%;
              letter-spacing: 0.25em;
              text-transform: uppercase;
              color: #FFFFFF;
            }

            &-arrow {
              margin-left: 2.8rem;
              display: inline-block;

            }

            &:hover {

              @media all and (min-width:576px) {
                background: #8EC2F5;
              }
            }

            &:active {
              background: #8EC2F5;
            }
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    z-index: 1;
    text-align: center;
    background: white;
    height: 100%;
    width: 5.9rem;
    align-items: center;

    &-social {
      display: inline-block;
      text-decoration: none;
      width: min-content;
      padding-bottom: 1rem;
      margin-bottom: 1.3rem;
      border-bottom: 1px solid #D3D2D5;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 105.3%;
      writing-mode: tb-rl;
      transform: rotate(360deg);
      color: #9D9CA4;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        color: #8EC2F5;
        transition: 0.3s;
      }

      &:active {
        color: #8EC2F5;
        transition: 0.3s;
      }
    }
  }


  .slick-slider {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .slick-prev {
    top: 100%;
    transform: matrix(1, 0, 0, 1, -159, -100);
    left: 100%;
    width: 6rem;
    height: 6rem;
    background: #8EC2F5;
    text-align: center;
    z-index: 2;

    &:hover {

      @media all and (min-width:576px) {
        background: #5E4AC5;
      }
    }

    &:active {
      background: #5E4AC5;
    }
  }

  .slick-next {
    top: 100%;
    transform: matrix(1, 0, 0, 1, -97, -100);
    left: 100%;
    width: 6rem;
    height: 6rem;
    background: #8EC2F5;

    &:hover {

      @media all and (min-width:576px) {
        background: #5E4AC5;
      }
    }

    &:active {
      background: #5E4AC5;
    }

  }

  .slogan__mid .slide__item {
    margin-bottom: 0;
  }

  &_dop {
    background: url(..//img/background2.png);
  }

}

.about {
  background: #F3F4F4;

  .container {
    padding-top: 11.4rem;
    max-width: 117rem;
    margin: 0 auto;
    padding-bottom: 11.5rem;

    .wrap {
      position: relative;
      padding: 1.5rem 1.5rem;
      height: 461px;
      border: 1.5rem solid;
      border-image: linear-gradient(90deg, #302F9E 0%, #302F9E 23.96%, #7A51CD 80.21%, #7A51CD 100%) 15 round round;

      &::before {
        position: absolute;
        top: 7.3rem;
        right: 0;
        margin-right: -1.5rem;
        display: block;
        content: '';
        width: 1.7rem;
        height: 345px;
        background-color: #F3F4F4;
      }

      .item {
        padding: 9.8rem 0 9.5rem 9.9rem;

        .blocks {
          display: flex;

          &__leftside {
            width: 45%;

            &-text {
              display: inline-block;
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.9rem;
              line-height: 155%;
              color: #9D9CA4;
            }

            &-link {
              display: block;
              cursor: pointer;
              align-items: center;
              text-align: center;
              margin-top: 4.9rem;
              display: flex;
              text-decoration: none;
              background: rgba(142, 194, 245, 1);
              -webkit-user-select: none;
              -webkit-touch-callout: none;
              width: 30.1rem;
              border: none;
              outline: none;

              &-text {
                padding: 2.4rem 0 2.1rem 0rem;
                display: inline-block;
                font-family: "Hind", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 1.3rem;
                line-height: 115.3%;
                letter-spacing: 0.25em;
                text-transform: uppercase;
                color: #FFFFFF;
              }

              &-arrow {
                margin-right: 2.8rem;
                display: inline-block;
              }

              &:hover {

                @media all and (min-width:576px) {
                  background: #5E4AC5;
                }
              }

              &:active {
                background: #5E4AC5;
              }
            }
          }

          &__rightside {
            padding-left: 6.9rem;
            width: 50%;

            &-text {
              display: inline-block;
              display: flex;
              margin: 0;
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 115.3%;
              letter-spacing: 0.25em;
              text-transform: uppercase;
              color: #5E4AC5;

              &_color-white {
                color: white;
              }

              &:before {
                margin-top: 0.4rem;
                margin-right: 4.3rem;
                z-index: 2;
                display: block;
                left: 0;
                content: '';
                height: 0.2rem;
                width: 5rem;
                background-color: #5e4ac5;
              }

            }

            &-headline {
              display: inline-block;
              display: flex;
              margin: 0;
              padding-top: 2.2rem;
              font-family: "Playfair Display", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 5.5rem;
              line-height: 120%;
              color: #393A4E;
            }
          }
        }
      }
    }
  }
}

.cando {
  padding-top: 11.9rem;
  background-color: white;

  .item {
    max-width: 116.3rem;
    margin: 0 auto;

    .areas {
      margin: 0;
    }

    .headline {
      padding-top: 2.7rem;
      margin: 0;
      font-family: "Playfair Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 5.5rem;
      line-height: 120%;
      color: #393A4E;
    }

    .services {
      padding-top: 5.7rem;
      display: flex;
      padding-bottom: 13.9rem;


      &__item {
        padding-right: 4.2rem;
        width: 30%;

        &:last-of-type {
          margin-right: 0;
        }

        &-top {
          display: flex;


          &-logo {
            display: inline-block;
            position: relative;

            &::before {
              content: "";
              top: -1.4rem;
              right: -0.8rem;
              position: absolute;
              display: block;
              width: 6.2rem;
              height: 6.2rem;
              border-radius: 50%;
              background: rgba(94, 74, 197, 0.2);
            }
          }

          &-link {
            padding-left: 3.4rem;
            text-decoration: none;
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 112%;
            display: flex;
            align-items: center;
            color: #393A4E;
          }
        }

        &-bottom {
          margin-top: 2.8rem;
          padding-top: 2.2rem;
          position: relative;

          @media all and (max-width:1220px) {
            // top: 1rem;
          }

          &:before {
            background-color: #5e4ac5;
            z-index: 1;
            display: block;
            left: 0;
            top: 0;
            content: '';
            height: 2px;
            width: 50px;
            position: absolute;
            margin: 0;

          }

          &-description {
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 134%;
            color: #9D9CA4;
            -webkit-line-clamp: 3;
            /* количество строк */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.philosophy {
  background: url(..//img/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    padding-top: 12.2rem;
    display: flex;
    padding-bottom: 11.7rem;
    max-width: 112rem;
    margin: 0 auto;
    align-items: center;

    &__leftside {
      display: inline-block;
      max-height: 56rem;
    }

    &__rightside {
      width: 100%;
      padding-left: 12.6rem;
      max-width: 56.1rem;

      &-phill {
        margin: 0;
      }

      &-headline {
        margin: 0;
        padding-top: 3.5rem;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 120%;
        color: #FFFFFF;
      }

      &-description {
        padding-top: 7.1rem;
        display: inline-block;
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.9rem;
        line-height: 155%;
        color: #BFBEED;
        padding-bottom: 6.7rem;
      }

      &-button {
        border: none;
        outline: none;
      }
    }
  }
}

.can-help {
  background-color: white;
  padding-top: 11.3rem;

  .top-block {
    margin: 0 auto;
    max-width: 117.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__area {
      width: 100%;
      margin: 0;
    }

    &__headline {
      width: 60%;
      margin: 0;
      padding-top: 2.7rem;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: bold;
      font-size: 5.5rem;
      line-height: 120%;
      color: #393A4E;

    }

    &__link {
      display: flex;
      align-items: flex-end;

      &-content {
        margin: 0;
      }
    }
  }

  .slide {
    padding-top: 7rem;
    background-color: white;
    width: 100%;
    padding-bottom: 12.9rem;

    .wrap {

      .item {
        display: flex;
        justify-content: center;

        &__block {
          text-decoration: none;
          background-image: url(..//img/help1.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 42rem;
          height: 31rem;
          display: flex;
          align-items: center;
          margin-right: 3rem;

          &-text {
            display: inline-block;
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 118%;
            /* or 28px */
            text-align: center;
            /* White */
            color: white;
            width: 100%;
          }
        }

        &__block2 {
          text-decoration: none;
          margin-right: 3rem;
        }

        &__block3 {
          text-decoration: none;
        }
      }
    }
  }

  .bottom-block {
    max-width: 113.1rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 11.8rem;

    &__leftside {
      display: flex;
      flex-direction: column;

      &-item {
        background-color: #F3F4F4;
        padding: 3rem 5.7rem 3.2rem 3.8rem;
        display: flex;

        &:nth-last-of-type(2) {
          background-color: white;
        }

        &-number {
          background: #8EC2F5;
          width: 6rem;
          height: 6rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &-text {
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 132%;
            /* or 18px */
            /* White */
            color: #FFFFFF;
          }
        }

        &-description {
          display: inline-block;
          padding-left: 3.9rem;
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 125%;
          /* or 22px */
          display: flex;
          align-items: center;
          max-width: 27.5rem;
          /* Text */
          color: #393A4E;
        }
      }
    }

    &__rightside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12.4rem;
      width: 45%;

      &-headline {
        padding-top: 2.7rem;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 120%;
        color: #393A4E;
      }

      &-description {
        padding-top: 5rem;
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 144%;
        color: #9D9CA4;
      }
    }
  }
}

.comments {
  background: linear-gradient(138.25deg, #302F9E 0%, #33309F 25.87%, #6E45BC 85.91%, #6E45BC 101.58%), #C4C4C4;

  &__slider {
    .slick-prev {
      top: 100%;
      transform: matrix(1, 0, 0, 1, -159, -100);
      left: 100%;
      width: 6rem;
      height: 6rem;
      background: rgba(255, 255, 255, 0.15);
      text-align: center;
      z-index: 2;

      &:hover {

        @media all and (min-width:576px) {
          background: #8EC2F5;
        }
      }

      &:active {
        background: #8EC2F5;
      }
    }

    .slick-next {
      top: 100%;
      transform: matrix(1, 0, 0, 1, -97, -100);
      left: 100%;
      width: 6rem;
      height: 6rem;
      background: rgba(255, 255, 255, 0.15);

      &:hover {

        @media all and (min-width:576px) {
          background: #8EC2F5;
        }
      }

      &:active {
        background: #8EC2F5;
      }

    }

    &-item {
      padding-top: 12.6rem;
      padding-left: 7.5rem;

      &-area {
        margin: 0;
      }

      &-text {
        position: relative;
        padding-top: 3.4rem;
        padding-right: 10rem;
        display: inline-block;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 126%;
        /* or 38px */

        /* White */
        color: #FFFFFF;

        &-dotts {
          height: min-content;
          top: -7.2rem;
          right: 8.4rem;
          position: absolute;
          font-family: "Hind", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 370px;
          line-height: 132%;
          /* or 488px */

          color: #FFFFFF;

          opacity: 0.15;
        }

      }

      &-author {
        padding-top: 4.1rem;
        display: flex;
        align-items: center;
        padding-bottom: 9.6rem;

        &-info {
          padding-left: 2.3rem;
          display: flex;
          flex-direction: column;

          &-name {
            display: inline-block;
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 125%;
            /* identical to box height, or 20px */

            /* White */
            color: #FFFFFF;
          }

          &-position {
            padding-top: 0.5rem;
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 132%;
            /* or 21px */

            /* Text on gradient */
            color: #BFBEED;
          }
        }
      }
    }
  }
}

.efficiency {
  background-color: white;
  padding-top: 11.5rem;

  #container {
    width: 18rem;
    height: 18rem;
    position: relative;
  }

  #container2 {
    width: 18rem;
    height: 18rem;
    position: relative;
  }



  .item {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    padding-bottom: 11.5rem;

    &__leftside {
      z-index: 6;

      &-photo {
        vertical-align: top;
      }

      &-link {
        margin-top: 8.6rem;
      }
    }

    &__rightside {
      padding-left: 12.2rem;
      z-index: 5;

      &-headline {
        margin-top: 0;
        display: inline-block;
        padding-top: 2.2rem;
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 120%;
        color: #393A4E;
        margin-bottom: 0;
      }

      &-statistics {

        &-item {
          margin-top: 7.7rem;
          margin-left: -20rem;
          padding-left: 19.7rem;
          background: #F3F4F4;
          display: flex;
          padding-top: 5.9rem;

          #container1 {
            display: none;
          }

          &:last-of-type {
            margin-top: 0;
            padding-top: 4.7rem;
            padding-bottom: 7.5rem;
          }

          &-description {
            padding-left: 3.6rem;

            &-headline {
              position: relative;
              width: 100%;
              margin: 0;
              padding-bottom: 2.6rem;
              font-family: "Playfair Display";
              font-style: normal;
              font-weight: bold;
              font-size: 2.4rem;
              line-height: 118%;
              color: #393A4E;

              &::after {
                content: "";
                background-color: #5e4ac5;
                display: block;
                height: 0.2rem;
                width: 4.9rem;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }

            &-text {
              display: inline-block;
              width: 68%;
              padding-top: 2.3rem;
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 132%;
              color: #9D9CA4;
              padding-right: 5rem;
            }
          }
        }
      }
    }
  }

  &_resize {
    padding-top: 0;

    .item {
      padding-top: 11.5rem;

      &__rightside {
        &-statistics {
          &-item {
            width: auto;
            padding-right: 9.8rem;
            padding-bottom: 1.5rem;


            &-description {
              max-width: 32.9rem;
              padding-left: 4rem;

              &-text {
                width: auto;
                padding-right: 0;
                max-width: 30.4rem;
              }
            }

            &-percent {
              width: max-content;
            }
          }
        }
      }
    }
  }

  &_qualitysize {
    padding-top: 0;

    .item {
      padding-top: 11.5rem;

      &__leftside {
        &-photo {
          &:last-of-type {
            display: none;
          }
        }
      }

      &__rightside {
        &-statistics {
          &-item {
            width: auto;
            padding-right: 9.8rem;
            padding-bottom: 1.5rem;

            &:last-of-type {
              padding-left: 18rem;
            }


            &-description {
              max-width: 32.9rem;
              padding-left: 4rem;

              &-text {
                width: auto;
                padding-right: 0;
                max-width: 30.4rem;
              }
            }

            &-percent {
              width: max-content;

            }
          }
        }
      }
    }
  }

  &_safesize {
    padding-top: 0;

    .logoup::before {
      width: 7.88rem;
      height: 7.88rem;
    }

    .item {
      padding-top: 11.5rem;

      &__leftside {
        &-photo {
          &:last-of-type {
            display: none;
          }
        }
      }

      &__rightside {
        &-statistics {
          &-item {
            width: auto;
            padding-right: 9.8rem;
            padding-bottom: 1.5rem;

            &:last-of-type {
              padding-left: 18rem;
            }


            &-description {
              max-width: 32.9rem;
              padding-left: 5.7rem;

              &-headline {
                font-size: 2.2rem;
                line-height: 125%;
              }

              &-text {
                width: auto;
                padding-right: 0;
                max-width: 30.4rem;
              }
            }

            &-percent {
              width: max-content;

            }
          }
        }
      }
    }
  }
}


.callback {
  background: #F3F4F4;

  .container {
    padding-top: 11.9rem;
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 11.1rem;

    &__contact {
      max-width: 64.7rem;

      &-headline {
        display: inline-block;
        padding-top: 2.7rem;
        margin: 0;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 5.5rem;
        line-height: 120%;
        color: #393A4E;
      }

      &-communication {
        padding-top: 4.8rem;
        display: flex;
        flex-wrap: wrap;

        &-blocks {
          padding-right: 3.8rem;
          width: 43%;
          padding-bottom: 2.7rem;

          &:last-of-type {
            padding-right: 0;
            padding-bottom: 0;
          }

          &-headinfo {
            display: flex;
            align-items: center;

            &-subtitle {
              display: inline-block;
              padding-left: 2.2rem;
              font-family: "Playfair Display", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 1.7rem;
              line-height: 125%;
              /* or 21px */
              /* Text */
              color: #393A4E;
            }
          }

          &-point {
            display: inline-block;
            padding-top: 0.6rem;
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 166.5%;
            /* or 28px */
            /* Grey */
            color: #9D9CA4;

            &:last-of-type {
              padding-top: 0;
            }

            &-link {
              text-decoration: none;
              color: #8EC2F5;

              &:hover {

                @media all and (min-width:576px) {
                  color: #5E4AC5;
                }
              }

              &:active {
                color: #5E4AC5;
              }
            }
          }
        }

        &-btn {
          margin-top: 4.7rem;
        }
      }
    }

    &__photo {
      @media all and(max-width:480px) {
        display: none;
      }

      &-persona {
        display: inline-block;
        vertical-align: top;
        position: relative;

        &:before {
          content: "";
          top: 0;
          right: 0;
          position: absolute;
          display: block;
          width: 430px;
          height: 550px;
          background: linear-gradient(109.7deg, #302F9E 0%, #6E45BC 110.01%, #6E45BC 122.07%);
        }
      }
    }
  }
}

.mailing {
  padding-top: 11.6rem;
  padding-bottom: 11.9rem;

  .wrap {
    max-width: 117rem;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1.5rem solid;
    border-image: linear-gradient(90deg, #302F9E 0%, #302F9E 23.96%, #7A51CD 80.21%, #7A51CD 100%) 15 round round;

    &__item {
      padding-top: 7.7rem;
      padding-bottom: 7.8rem;
      background: white;
      display: flex;
      width: 100%;

      &-title {
        padding-left: 0.1rem;
        width: 41%;
        padding-top: 5.5rem;
        padding-bottom: 5.6rem;
        margin-left: -1.6rem;
        background: white;

        &-headline {
          margin: 0;
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 5.5rem;
          line-height: 120%;
          /* or 66px */
          /* Text */
          color: #393A4E;
        }
      }

      &-desc {
        padding-top: 2.3rem;
        margin-left: 12rem;
        width: 50%;

        &-form {
          width: 80%;

          &-field {
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            padding: 2.9rem 0 2.7rem 3.7rem;
            color: #9D9CA4;
            font-size: 16px;
            line-height: 132%;
            width: 100%;
            background-color: #ffffff;
            border: 2px solid #E6E7E7;
            outline: none;
            outline-offset: 0;
            margin-bottom: 2rem;


            &:focus {
              border-color: #5E4AC5;

              &::placeholder {
                color: transparent;
              }
            }

            &::placeholder {
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 132%;
              color: #9D9CA4;
              padding-right: 5rem;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          &-checkbox {
            display: none;

            &:checked+.wrap__item-desc-form-privacy::before {
              background: url(..//img/check.svg) center center no-repeat;
              background-size: auto;
            }
          }

          &-privacy {
            display: inline-block;
            padding-top: 0.6rem;
            padding-left: 2.5rem;
            position: relative;

            &::before {
              content: "";
              display: block;
              border-radius: 0;
              -webkit-appearance: none;
              top: 0.5rem;
              left: 0;
              width: 1.6rem;
              height: 1.6rem;
              border: 1px solid #EEEEEE;
              position: absolute;
            }

            &-link {
              width: 100%;
              text-decoration: none;
              font-family: "Hind", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 132%;
              color: #8EC2F5;
            }
          }

          &-button {
            margin-top: 6.1rem;
            border: none;
            align-items: center;
          }
        }


      }
    }
  }
}


.footer {
  background: #2E3340 url('..//img/flashbot.svg') center center/auto no-repeat;
  padding-bottom: 7.7rem;
  margin-bottom: 6rem;

  .item {
    padding-top: 8.9rem;
    max-width: 110rem;
    margin: 0 auto;

    &__topcontent {
      display: flex;
      justify-content: space-between;

      &-logotype {
        padding-right: 7.6rem;

        &-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          width: 100%;

          &-logo {
            display: inline-block;
            z-index: 10;
          }

          &-logomob {
            display: none;
          }

          &-text {
            padding-left: 0.8rem;
            display: inline-block;
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 3.4rem;
            line-height: 115.3%;
            color: #FFFFFF;
          }
        }
      }

      &-columns {
        display: flex;
        flex-direction: column;
        max-width: 24.6rem;

        &-headline {
          text-decoration: none;
          margin: 0;
          display: inline-block;
          padding-bottom: 2.3rem;
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 125%;
          color: #FFFFFF;
        }

        &-link {
          display: inline-block;
          text-decoration: none;
          font-family: "Hind", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 120%;
          padding-bottom: 1.3rem;
          color: #9D9CA4;

          &:last-of-type {
            padding-bottom: 0;
          }

          &:hover {
            color: white;
            transition: 0.5s;
          }
        }
      }
    }

    &__bottom {
      padding-top: 8.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-call {
        text-decoration: none;
        display: inline-block;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 125%;
        color: #FFFFFF;

        @media all and (max-width:700px) {
          padding-top: 2rem;
        }
      }

      &-copyright {
        font-family: "Hind", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 132%;
        color: #9D9CA4;

        &-link {
          text-decoration: none;
          color: white;
        }
      }

      &-social {
        display: flex;

        &-link {
          display: inline-block;
          background: #4D515B;
          width: 4.1rem;
          height: 4.1rem;
          display: flex;
          justify-content: center;
          margin-right: 0.7rem;

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {

            @media all and (min-width:576px) {
              background: #8EC2F5;
            }
          }

          &:active {
            background: #8EC2F5;
          }

          &-logo {
            display: inline-block;

          }
        }
      }
    }
  }
}

.menu-mobile {
  width: 100%;
  background: #313744;
  padding-top: 3.15rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;

  &__close {
    top: 3rem;
    right: 3rem;
    position: absolute;
    justify-content: flex-end;
  }

  .container {
    max-width: 45rem;
    margin: 0 auto;

    &__logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;

      &-link {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;

        &-logo {
          display: inline-block;
        }

        &-mobile {
          display: none;
        }

        &-text {
          display: inline-block;
          padding-left: 2rem;

        }
      }
    }

    &__nav {
      display: inline-block;
      width: 100%;

      &-item {
        list-style-type: none;
        padding-left: 1rem;
        padding-right: 1rem;

        &-call {
          display: inline-block;
          justify-content: space-between;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 155%;
          width: 100%;
          color: #FFFFFF;

          &:hover {
            @media all and (min-width:576px) {
              color: #8EC2F5;
            }
          }

          &:active {
            color: #8EC2F5;
          }
        }

        &-link {
          display: inline-block;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 155%;
          width: 100%;
          color: #FFFFFF;

          &.link--active {
            &+.container__nav-item-link-submenu {
              display: block;
            }

            .container__nav-item-link-wrap-down {
              margin-top: 40%;
              border: solid #8EC2F5;
              border-width: 0 2px 2px 0;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
          }

          &-wrap {
            margin-bottom: 0.2rem;
            display: inline-block;
            width: 2.7rem;
            height: 2.7rem;
            background: #464B57;
            display: flex;
            justify-content: center;

            &-down {
              margin-top: 20%;
              border: solid #FFFFFF;
              border-width: 0 2px 2px 0;
              display: inline-block;
              width: 10px;
              height: 10px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }
          }

          &:hover {
            @media all and (min-width:576px) {
              color: #8EC2F5;
            }

          }

          &:active {
            color: #8EC2F5;
          }

          &-submenu {
            display: none;
            list-style-type: none;
            padding-left: 1rem;

            &-linked {
              height: min-content;
              display: inline-block;
              text-decoration: none;
              font-weight: 500;
              font-size: 1.4rem;
              line-height: 155%;
              color: #FFFFFF;

              &:hover {
                @media all and (min-width:576px) {
                  color: #8EC2F5;
                }

              }

              &:active {
                color: #8EC2F5;
              }

              &:last-of-type {
                margin-bottom: 0.8rem;
              }
            }
          }
        }
      }
    }

    &__social {
      padding-top: 3.3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &-link {

        display: inline-block;
        padding-right: 2rem;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

.background {

  &_change {
    padding-top: 13.3rem;
    background: url(..//img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 13.8rem;
    width: 100%;
    opacity: 1;
    visibility: inherit;

    @media all and (max-width: 1219px){
      padding-bottom: 20.8rem;
    }

  }
}

.getConsultig {
  display: block;
  cursor: pointer;
  align-items: center;
  text-align: center;
  margin-top: 4.9rem;
  display: flex;
  text-decoration: none;
  background: rgba(142, 194, 245, 1);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width: 30.1rem;
  border: none;
  outline: none;

  @media all and (max-width:900px) {
    width: 25rem;
    max-width: none;
  }

  @media all and (max-width:800px) {
    width: 20rem;
    max-width: none;
  }

  @media all and (max-width:700px) {
    width: 30rem;
  }

  &-text {
    padding: 2.4rem 0 2.1rem 0rem;
    display: inline-block;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 115.3%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;


  }

  &-arrow {
    margin-right: 2.8rem;
    display: inline-block;

    @media all and (max-width:700px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &:hover {

    @media all and (min-width:576px) {
      background: #5E4AC5;
    }
  }

  &:active {
    background: #5E4AC5;
  }


}

@import "media";