@media all and (max-width:1439px) {

  .header {
    .container {
      justify-content: space-between;
      &__logo{
        padding-right: 1rem;
      }

      &__nav {
        padding: 0;

        &-menu {
          padding-left: 0;

        }
      }
    }
  }
}

@media all and (max-width:1285px) {
  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .header {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;

      &__nav {

        &-menu {
          &-item {
            margin-right: 2rem;
          }
        }
      }
    }
  }

  .slogan {
    .slick-slider {
      margin: 0;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &__left {
      display: none;
    }

    &__right {
      display: none;
    }

    &__mid,
    .dop {
      width: 100vw;
    }
  }

  .cando {
    padding-left: 2rem;
    padding-right: 2rem;

    .wrapper {
      margin: 0;
      padding: none;
    }

    .item {}

    .services {

      &__item {}
    }
  }

  .footer {
    margin-bottom: 2rem;
  }

  .topcontent {
    margin-left: 0;
  }
}

@media all and (max-width:1219px) {
  .wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .slogan {
    padding-top: 7.5rem;

    &__mid {

      .slide {

        &__item {
          margin-left: 3rem;
          max-width: 61rem;

          &-wrap {
            padding-left: 4.5rem;
            padding-top: 4rem;

            &-headline {
              font-size: 5.3rem;
            }

            &-btn {
              margin-bottom: 4rem;
            }
          }
        }
      }
    }
  }

  .header {

    .container {
      flex-wrap: wrap;
      padding: 1rem 2rem;

      &__logo {
        padding-right: 1rem;
        // justify-content: center;
        // width: 100%;
        &-full {
          display: none;
        }

        &-new {
          display: inline-block;
        }

        &-link {
          display: none;
        }
      }

      &__nav {
        &-menu {
          &-item {
            margin-right: 2.7rem;
          }
        }
      }
    }
  }

  .about {
    .container {
      .wrap {
        height: auto;

        &:before {
          max-height: 23rem;
        }

        .item {
          padding: 3rem 1rem 3.5rem 3.6rem;
        }
      }
    }
  }

  .cando {

    .item {

      // box-sizing: border-box;
      .services {



        &__item {
          max-width: 28rem;

          &-top {
            max-height: 8.6rem;
            flex-wrap: wrap;
            flex-direction: column;

            &-link {
              padding-left: 0;
            }

            &-logo {
              &::before {
                right: none;
                left: 0.8rem;
              }
            }

          }

          &-bottom {}
        }
      }
    }
  }

  .philosophy {
    .container {
      max-width: 100rem;
      margin: 0 auto;

      &__rightside {
        padding-left: 5rem;

        &-description {
          padding-bottom: 3.7rem;
        }
      }
    }
  }

  .can-help {
    .bottom-block {

      &__rightside {

        &-headline {
          font-size: 3.6rem;
        }
      }
    }
  }

  .efficiency {

    .item {

      &__leftside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-photo {
          display: block;
          max-width: 40rem;
        }

        &-link {
          margin-top: 0;


        }
      }

      &__rightside {
        padding-left: 5rem;

        &-headline {
          width: 100%;
          font-size: 3.6rem;
        }

        &-statistics {

          &-item {
            margin-top: 4rem;
            margin-left: -10rem;
            padding-left: 10rem;

            &-description {
              padding-right: 1rem;

              &-text {
                padding-right: 1rem;
                width: auto;
              }
            }
          }
        }
      }
    }

    &_qualitysize {
      .item {
        &__rightside {
          &-statistics {
            &-item {
              &:last-of-type {
                margin-left: -10rem;
                padding-left: 8rem;
              }
            }
          }
        }
      }
    }

    &_safesize {
      .item {
        &__rightside {
          &-statistics {
            &-item {
              &:last-of-type {
                margin-left: -10rem;
                padding-left: 9rem;
              }
            }
          }
        }
      }
    }
  }

  .mailing {
    .wrap {
      &__item {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        align-items: center;

        &-title {
          padding-top: 3rem;
          height: min-content;

          &-headline {
            font-size: 3.6rem;

          }
        }

        &-desc {
          width: 60%;
          margin-left: 6rem;

          &-form {
            width: 85%;
          }
        }
      }
    }
  }

  .callback {
    .container {
      &__photo {
        &-persona {
          width: 100%;
        }
      }

      &__contact {
        &-headline {
          font-size: 3.6rem;
        }

        &-communication {
          &-blocks {
            padding-right: 2rem;
          }
        }
      }
    }
  }

  .footer {
    .item {
      &__topcontent {
        &-logotype {
          padding-right: 0;
        }
      }
    }
  }

  .main-content {
    .opportunities {
      &__leftside {
        max-width: 40.7rem;
      }
    }
  }
}

@media all and (max-width:1026px) {
  .wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .btn {
    text-align: center;
    display: inline-block;
    max-width: 27.6rem;
    display: flex;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.15);



    &-text {
      padding: 1.82rem 0 1.4rem 2.8rem;
      display: inline-block;
      font-family: "Hind", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 115.3%;
      /* identical to box height, or 15px */
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &-arrow {
      padding-left: 2.8rem;
      margin-right: 1.8rem;
      display: inline-block;

    }

    &:hover {
      background: #5E4AC5;
    }

    &_change-width {
      max-width: 21.7rem;
      background: #5E4AC5;

      &:hover {
        background: #8EC2F5
      }
    }

    &_change-width-effictive {
      max-width: 21.7rem;
      background: #8EC2F5;

      &:hover {
        background: #5E4AC5;
      }
    }

    &_change-width-help {
      max-width: 26.7rem;
      background: #8EC2F5;

      &-arrow {
        padding-left: 2.8rem;

        display: inline-block;

      }
    }



    &_change-width-communication {
      max-width: 36.5rem;
      background: #8EC2F5;
    }

    &_change-width-sub {
      max-width: 25.2rem;
      background: #8EC2F5;
    }
  }

  .header {
    .container {
      &__callback {
        &-description {
          display: none;
        }
      }
    }
  }

  .about {
    .container {
      .wrap {

        .item {
          padding-top: 2rem;
          padding-bottom: 2rem;

          .blocks {
            align-items: center;
            justify-content: space-between;

            &__leftside {
              width: 70%;
            }

            &__rightside {
              justify-content: center;

              &-headline {
                font-size: 3.6rem;
              }
            }
          }
        }
      }
    }
  }

  .philosophy {

    .container {
      padding-top: 10rem;

      &__leftside {
        max-width: 37.2rem;
        max-height: 50.5rem;
      }

      &__rightside {

        &-headline {
          font-size: 4rem;
        }

        &-description {
          padding-top: 3.6rem;
        }
      }
    }
  }

  .can-help {

    .top-block {

      &__headline {
        font-size: 3.6rem;
      }
    }
  }

  .efficiency {
    #container {
      width: 12rem;
      height: 12rem
    }

    #container2 {
      width: 12rem;
      height: 12rem
    }

    &_qualitysize {
      .item {

        &__rightside {
          &-statistics {
            &-item {
              padding-right: 1rem;

              &:last-of-type {
                margin-left: -10rem;
                padding-left: 8rem;
              }
            }
          }
        }
      }
    }

    &_safesize {
      .item {
        &__rightside {
          &-statistics {
            &-item {
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }

  .item {

    &__leftside {
      &-photo {
        width: 100%;
      }
    }

    &__rightside {
      width: 50%;
    }
  }

  .footer {
    .item {
      &__topcontent {
        flex-wrap: wrap;

        &-columns {
          max-width: none;
          width: 40%;
          margin-bottom: 1rem;
        }

        &-logotype {
          justify-content: flex-start;

          &-link {
            flex-direction: column;

            &-logo {}
          }
        }
      }
    }
  }

  .main-content {
    .opportunities {
      padding-top: 6rem;

      &__leftside {
        &-headline {
          padding-top: 2.2rem;
          font-size: 4.5rem;
        }
      }

      &__services {
        &-item {
          padding-right: 1.7rem;
          padding-left: 2rem;

          &-number {}
        }
      }
    }
  }

  .cando {
    .item {
      .services {
        &__item {
          &-top {
            max-height: none;
            height: 13.6rem;
          }

          &-bottom {
            &:last-of-type {}
          }
        }
      }
    }
  }
}

@media all and (max-width:900px) {
  #toTop {
    z-index: 15;
    background: #8EC2F5;
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
  }
  .slogan__mid .slide__item-wrap-btn-arrow{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header {
    .container {

      &__nav {
        &-menu {
          &-item {
            margin-right: 1rem;
          }
        }
      }

      &__callback {
        padding-left: 1.5rem;
      }
    }
  }

  .efficiency {
    .item {
      &__rightside {
        &-statistics {
          &-item {
            &:last-of-type {
              padding-bottom: 3rem;
            }

            &-description {
              &-headline {
                font-size: 2rem;
              }

              &-text {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    .item {
      &__topcontent {
        flex-wrap: wrap;
      }
    }
  }

  .about {
    .container {
      .wrap {
        .item {
          .blocks {
            &__leftside {
              &-text {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  .slogan {

    &__mid,
    .dop {
      padding-top: 8rem;

      .slide {

        &__item {
          max-width: 43.1rem;

          &-wrap {
            &-headline {
              font-size: 3.8rem;
              line-height: 3.9rem;
            }

            &-btn {
              max-width: 20.6rem;

              &-text {
                padding: 1.2rem 0 1.2rem 1.9rem;
                font-size: 1rem;

              }
            }

          }
        }
      }
    }
  }

  .main-content {
    .opportunities {
      flex-direction: column;
      padding-top: 6rem;

      &__leftside {
        width: 100%;
        max-width: none;
        padding-bottom: 2rem;

        &-headline {
          padding-top: 2.2rem;
          font-size: 4.5rem;
        }
      }

      &__services {
        &-item {
          padding-right: 1.7rem;
          padding-left: 2rem;

          &-number {}
        }
      }
    }
  }

  .error {
    .container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      flex-direction: column;
      align-items: center;

      &__right {
        padding-left: 0;
      }
    }
  }

  .cando {
    padding-top: 6rem;

    .item {
      .headline {
        font-size: 2.8rem;
      }

      .services {
        flex-direction: column;
        padding-bottom: 6rem;

        &__item {
          &-top {
            height: auto;

            &-logo {}

            &-link {
              padding-top: 2rem;
              width: 100%;
            }
          }

          max-width: none;
          width: 100%;
          margin-bottom: 5rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

      }
    }
  }
}

@media all and (max-width:800px) {
  .text {
    display: inline-block;
    display: flex;
    margin: 0;
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 115.3%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #5E4AC5;

    &:before {
      margin-top: 0.4rem;
      margin-right: 1.8rem;
      z-index: 2;
      display: block;
      left: 0;
      content: '';
      height: 0.2rem;
      width: 5rem;
      background-color: #5e4ac5;
    }

    &_color-white {
      color: white;

      &:before {
        background-color: #fff;
      }

    }

  }

  .header {
    position: static;

    .container {
      justify-content: space-around;

      &__logo {
        &-full {
          display: block;
        }

        &-new {
          display: none;
        }

        &-link {
          display: inline-block;
        }
      }

      &__nav {
        display: none;
      }

      &__callback {
        display: none;
      }

      &__burger {
        display: inline-block;
      }
    }
  }

  .slogan {
    padding-top: 0;
  }

  .about {
    .container {
      .wrap {
        .item {
          padding: 0;

          .blocks {
            &__leftside {
              width: 50%;

              &-link {
                width: 25rem;
                max-width: none;

                &-text {
                  padding-left: 1rem;
                }

                &-arrow {
                  margin-left: 1rem;
                }
              }
            }

            &__rightside {
              width: 50%;
              padding-left: 3rem;

              &-text {
                &::before {
                  margin-right: 1.8rem;
                }
              }

              &-headline {
                padding-top: 0.5rem;
                line-height: 100%
              }
            }
          }
        }
      }
    }
  }

  .philosophy {
    .container {
      width: auto;
      flex-direction: column;

      &__leftside {
        height: auto;
        width: 100%;
      }

      &__rightside {
        &-phill {
          padding-top: 5rem;
        }
      }
    }
  }

  .can-help {
    padding-top: 6rem;

    .top-block {
      &__headline {
        padding-top: 0;
        font-size: 2.8rem;
        width: 100%;
      }

      &__link {
        padding-top: 5rem;
      }
    }

    .bottom-block {
      padding-bottom: 6rem;
    }

    .slide {
      padding-top: 3.5rem;
      padding-bottom: 6rem;

      .wrap {
        .item {
          flex-direction: column;

          &__block {
            width: 100%;
            margin-bottom: 2rem;

            &-text {
              width: 100%;
              text-align: center;
            }

          }

          &__block2 {
            width: 100%;
            margin-bottom: 2rem;
          }

          &__block3 {
            width: 100%;

          }
        }
      }
    }

    .bottom-block {
      flex-direction: column;

      &__rightside {
        margin: 0;
        width: 100%;

        &-area {
          padding-top: 6.4rem;

        }

        &-headline {
          margin: 0;
          padding-top: 0;

        }
      }
    }
  }

  .comments {
    &__slider {
      &-item {
        padding-left: 0;

        &-text {
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }

  .footer {
    padding-top: 3.4rem;
    margin-bottom: 0;

    .item {
      padding-top: 2.9rem;
      &__topcontent {
        flex-direction: column;
        align-items:center;
        &-logotype {
          &-link {
            flex-direction: row;
          }
        }

        &-columns {
          width: 100%;
        }
      }

      &__bottom {
        padding-top: 4rem;
        flex-direction: column;
        align-items: flex-start;

        &-social {
          padding-top: 4rem;
        }
      }
    }
  }

  .efficiency {
    padding-top: 6rem;

    #container3 {
      width: 12rem;
      height: 12rem;
    }

    #container4 {
      width: 12rem;
      height: 12rem;
    }

    &_resize {
      padding-top: 0;

      .item {
        padding-top: 6rem;
      }
    }

    &_safesize {
      // .buttontip_change-width-effictive {
      //   width: 17.7rem;
      // }

      padding-top: 0;

      .topcontent {
        &__item {
          padding-left: 3rem;

          &-headline {
            font-size: 5.2rem;
          }
        }
      }

      .item {
        padding-top: 6rem;

        &__rightside {
          &-statistics {
            &-item {

              &-percent {
                &-link {
                  &-toplogo {}

                }
              }

              &-description {
                padding-left: 1.6rem;
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    &_qualitysize {
      padding-top: 0;

      .item {
        padding-top: 0;
        padding-top: 6rem;
      }
    }

    .item {
      padding-bottom: 6rem;
    }

    // .buttontip_change-width-effictive {
    //   width: 14.1rem;
    //   padding-right: 0rem;
    // }

    .buttontip-text {
      margin-right: 0.8rem;
      padding: 1.6rem 0 1.6rem 1rem;
    }

    .buttontip-arrow {
      padding-right: 0;
    }


  }

  .mailing {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media all and (max-width:700px) {
  .fancybox-slide {
    padding-top: 0.5rem;
  }


  .modal-callback {
    .modal__close {
      top: 1.9rem;
      right: 1.9rem;
      width: 1.9rem;
      height: 1.9rem;
    }

    &__item {
      padding-left: 3.5rem;
      padding-right: 2rem;
      padding-bottom: 3rem;
      padding-top: 5.5em;

      &-headline {
        padding-top: 0.6rem;
        width: auto;
        font-size: 3.4rem;
        padding-bottom: 4.5rem;
      }

      &-form {
        &-btn {
          padding: 1.7rem 0 1.4rem 0rem;
        }

        &-point {
          padding: 1.9rem 0 1.7rem 2rem;
        }
      }
    }
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .about {
    .container {
      .wrap {
        &::before {
          display: none;
        }

        .item {
          padding: 1rem;

          .blocks {
            flex-direction: column;
            align-items: center;

            &__leftside {
              padding-top: 3rem;
              width: 100%;
              order: 1;

              &-link {
                margin-top: 2rem;
                width: 21rem;

                &-text {
                  font-size: 1rem;
                  padding: 1.2rem 0 1.2rem 1.85rem;
                }

                &-arrow {
                  margin-left: 1rem;
                }
              }
            }

            &__rightside {

              padding: 0;
              width: 100%;

              &-headline {
                font-size: 2.6rem;
              }
            }
          }
        }
      }
    }
  }

  .efficiency {
    padding-top: 5rem;

    &_resize {
      padding-top: 0;

      .item {
        padding-top: 6rem;
      }
    }

    &_qualitysize {
      .item {
        padding-top: 0;

        &__rightside {
          &-statistics {
            &-item {

              &:last-of-type {
                margin-left: 0;
                padding-left: 0rem;
              }

              &-description {
                padding-top: 2rem;
              }
            }
          }
        }
      }
    }

    &_safesize {
      padding-top: 0;

      .item {

        &__rightside {
          &-statistics {
            &-item {

              &:last-of-type {
                margin-left: 0;
                padding-left: 0rem;
              }

              &-description {
                padding-top: 2rem;
              }
            }
          }
        }
      }
    }

    #container {
      width: 17rem;
      height: 17rem;
    }

    #container2 {
      width: 17rem;
      height: 17rem;
    }

    #container3 {
      width: 17rem;
      height: 17rem;
    }

    #container4 {
      width: 17rem;
      height: 17rem;
    }

    .item {
      max-width: none;
      flex-direction: column;

      &__leftside {
        position: relative;

        &-photo {
          max-width: none;
          width: 100%;
        }

        &-link {
          position: absolute;
          bottom: 0;
        }
      }

      &__rightside {
        width: 100%;
        padding-left: 0;
        padding-top: 4rem;

        &-statistics {
          &-item {
            margin-top: 3rem;
            padding-left: 0;
            margin-left: 0;
            flex-direction: column;

            &-description {

              &-text {
                width: 90%;
                padding-right: 0;
              }
            }

            &-percent {
              padding-left: 3.6rem;
              width: 100%;
            }

          }
        }

      }
    }


  }

  .callback {
    .container {
      padding-top: 6.4rem;
      flex-direction: column;
      padding-bottom: 6rem;

      &__contact {
        padding-bottom: 6.4rem;

        &-headline {
          padding-top: 1rem;
        }

        &-communication {
          padding-top: 3.2rem;
          flex-direction: column;

          &-blocks {
            padding-right: 0;
            width: 100%;
          }

          &-btn {

            width: 24rem;

            &-text {
              padding: 1.82rem 0 1.4rem 1.5rem;
            }
          }
        }
      }
    }
  }

  .mailing {
    .buttontip_change-width-sub-text {
      margin-right: 0.9rem;
      padding-left: 1.5rem;
    }

    .wrap {
      max-width: none;
      box-sizing: border-box;

      &__item {
        padding-left: 0;
        flex-direction: column;
        padding-top: 3.5rem;
        padding-bottom: 3rem;
        background: transparent;


        &-title {
          width: 80%;
          margin-left: 0;
          padding-top: 0;
          padding-bottom: 0;

          &-headline {
            padding-top: 0.5rem;
            width: 100%;
            font-size: 2.6rem;
          }
        }

        &-desc {
          width: 90%;
          margin-left: 0;
          padding-top: 3rem;

          &-form {
            &-field {
              padding: 1.5rem 1.9rem 1.4rem 1.9rem;
            }

            &-button {
              margin-top: 3rem;
              width: 20rem;

              &-text {
                font-size: 1rem;
              }

              &-arr {
                padding-left: 0.8rem;
              }
            }

            &-privacy {
              width: 100%;

              &-link {
                width: 100%;
              }
            }

          }
        }
      }
    }
  }



  .philosophy {
    .container {
      padding: 5rem 0 5rem;

      &__leftside {
        width: 100vw;
      }

      &__rightside {
        &-headline {
          padding-top: 2rem;
          font-size: 2.6rem;
        }

        &-description {
          padding: 1.5rem 0 1.6rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  .comments {
    &__slider {
      &-item {
        padding-top: 6rem;

        &-text {
          font-size: 2rem;

          &-dotts {
            top: -7.2rem;
            right: 0;
          }
        }
      }
    }
  }

  .main-content {
    .topcontent {
      &__item {
        padding-left: 3rem;
      }
    }
  }

  .feedback {
    width: 44.5rem;

    &__wrap {
      padding-top: 3rem;
      padding-bottom: 3rem;

      &-headline {
        font-size: 3rem;
      }

      &-text {
        padding-top: 1.5rem;
        font-size: 1.6rem;
      }
    }
  }
}

@media all and (max-width:600px) {
  .wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .callback .container__contact-communication-btn {
    padding-right: 0.3rem;
    width: 25.5rem;
  }
  .callback .container__contact-communication-btn-text{
    padding: 1.82rem 0 1.4rem 0rem;
  }
  .btn-arrow{
    padding-left: 1rem;
  }

  .header {
    .container {
      &__logo {
        &-full {
          display: none;
        }

        &-mobile {
          display: inline-block;
        }
      }
    }
  }

  .slogan {

    .slick-next,
    .slick-arrow {
      display: none !important;
    }

    &__mid,
    .dop {
      padding-bottom: 6rem;

      .slide {

        &__item {
          max-width: none;
          width: 60%;

          &-wrap {
            padding-right: 4rem;

            &-headline {
              font-size: 3.2rem;
              line-height: 3.5rem;
            }
          }
        }
      }
    }
  }

  .comments {

    .slick-next,
    .slick-arrow {
      display: none !important;
    }
  }

  .footer {
    .item {
      padding-top: 3rem;

      &__topcontent {
        &-logotype {
          &-link {
            &-logo {
              display: none;
            }

            &-logomob {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .menu-mobile {
    .container {
      &__logo {
        &-link {
          &-logo {
            display: none;
          }

          &-mobile {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media all and (max-width:500px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .slogan {
    .slick-slider {
      padding: 0;
    }

    &__mid,
    .dop {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }

    .slide {
      &__item {
        &-wrap {
          padding-top: 2rem;
          padding-left: 2rem;

          &-headline {
            font-size: 2.7rem;
          }

          &-btn {
            margin-top: 1rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  .cando {
    .item {
      .services {
        &__item {
          margin-right: 0;
        }
      }
    }
  }

  .efficiency {
    .item {
      &__rightside {
        &-statistics {
          &-item {
            &-percent {
              width: auto;
            }
          }
        }
      }
    }
  }

  .philosophy {
    .container {
      &__rightside {
        width: auto;
      }
    }
  }

  .footer {
    .item {
      &__topcontent {
        &-columns {
          padding-bottom: 0;
        }
      }
    }
  }

  .error {
    .container {
      &__left {
        &-text {
          font-size: 20rem;
        }
      }

      &__right {
        &-oops {
          font-size: 5.2rem;
        }
      }
    }
  }
}

@media all and (max-width:480px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .buttontip_change-width-effictive {
    width: 14.1rem;
    padding-left: 0;
  }

  .buttontip_change-width-effictive-text {
    padding: 1.6rem 0 1.6rem 2.1rem;
    margin-right: 0.9rem;
  }

  .slogan {
    .slide {
      &__item {
        width: 50%;
        &-wrap {
          padding-left: 1rem;

          &-headline {
            font-size: 2rem;
            line-height: 2.5rem;
          }

          &-btn {
            max-width: none;
            width: 17rem;

            &-text {
              padding-left: 0.8rem;
            }

            &-arrow {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .about {
    .container {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  .cando {
    padding-top: 5rem;

    .item {
      .services {
        padding-bottom: 5rem;

        &__item {
          padding-right: 0;
        }
      }
    }
  }

  .can-help {
    padding-top: 5rem;

    .top-block {
      &__headline {
        padding-top: 2.7rem;
      }
    }

    .bottom-block {
      padding-bottom: 6rem;

      &__leftside {

        &-item {
          padding: 2rem 1rem;

          &-number {
            height: 5rem;
            width: 5rem;
          }

          &-description {
            padding-left: 2rem;

          }
        }
      }

      &__rightside {

        &-headline {
          padding-top: 2.7rem;
        }

        &-description {
          padding-top: 2.2rem;
        }
      }
    }
  }

  .philosophy {
    .container {
      &__leftside {
        width: 60vw;
      }

      &__rightside {
        padding-left: 2rem;
      }
    }
  }

  .efficiency {
    #container3 {
      width: 9.1rem;
      height: 9.1rem;
    }

    #container4 {
      width: 9.1rem;
      height: 9.1rem;
    }

    .item {
      &__rightside {
        &-headline {
          padding-top: 2.7rem;
        }
      }
    }

    &_resize {
      .item {
        &__leftside {
          &-photo {
            &:first-of-type {
              display: none;
            }

            &:last-of-type {
              display: block;
            }
          }
        }

        &__rightside {
          padding-top: 4rem;

          &-headline {
            padding-top: 0.6rem;
            font-size: 2.4rem;
          }

          &-statistics {
            &-item {
              padding-right: 3rem;
              margin-top: 2.2rem;
              padding-top: 5rem;
              padding-bottom: 0;

              &:last-of-type {
                padding-top: 2.5rem;
                padding-bottom: 4.4rem;
              }

              &-percent {
                padding-left: 3.4rem;
              }

              &-description {
                width: 100%;
                padding-top: 3.4rem;
                padding-left: 3rem;

                &-text {
                  width: 80%;
                }
              }
            }
          }
        }
      }
    }

    &_qualitysize {
      .logoup::before {
        right: -1.8rem;
      }

      .item {
        &__leftside {
          &-photo {
            &:first-of-type {
              display: none;
            }

            &:last-of-type {
              display: block;
            }
          }
        }

        &__rightside {
          padding-top: 4.6rem;

          &-headline {
            padding-top: 0.6rem;
            font-size: 2.4rem;
          }

          &-statistics {
            &-item {
              margin-top: 2.2rem;
              padding-right: 1.6rem;

              &:last-of-type {}

              &-description {
                padding-top: 1.1rem;
                padding-right: 1.6rem;
                width: 85%;



              }

              &-percent {
                &-link {
                  &-toplogo {
                    width: 4.6rem;
                    height: 4.6rem;


                  }

                  &-logo {
                    width: 4.6rem;
                    height: 4.7rem;

                  }
                }
              }
            }
          }
        }
      }
    }

    &_safesize {
      .logoup::before {
        right: -1.8rem;
        width: 6rem;
        height: 6rem;
      }

      .item {
        &__leftside {
          &-photo {
            &:first-of-type {
              display: none;
            }

            &:last-of-type {
              display: block;
            }
          }
        }

        &__rightside {
          &-statistics {
            &-item {
              padding-right: 1.6rem;

              &:last-of-type {}

              &-description {
                padding-top: 1.1rem;
                padding-right: 1.6rem;
                width: 90%;

                &-headline {
                  font-size: 1.7rem;
                }

              }

              &-percent {
                &-link {
                  &-toplogo {
                    width: 4.6rem;
                    height: 4.6rem;


                  }

                  &-logo {
                    width: 4.8rem;
                    height: 4.8rem;

                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .callback {
    .container {
      &__contact {
        padding-bottom: 0rem;

        &-headline {
          padding-top: 2.7rem;
        }
      }
    }
  }


  .modal-callback {
    .modal__close {
      top: 1.9rem;
      right: 1.9rem;
      width: 1.9rem;
      height: 1.9rem;
    }

    &__item {
      padding-left: 2.5rem;
      padding-right: 1rem;
      padding-bottom: 2rem;
      padding-top: 5.5em;

      &-headline {
        padding-top: 0.6rem;
        width: auto;
        font-size: 2.4rem;
        padding-bottom: 4.5rem;
      }

      &-form {
        &-btn {
          padding: 1.7rem 0 1.4rem 0rem;
        }

        &-point {
          padding: 1.9rem 0 1.7rem 2rem;
        }
      }
    }
  }

  .modal-privacy {
    .modal__close {
      top: 1.9rem;
      right: 1.9rem;
    }

    &__item {
      max-width: 31rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &-headline {
        font-size: 2.4rem;
      }

      &-text {
        font-size: 1.6rem;
      }
    }
  }

  .main-content {
    .buttontip_perfomance {
      width: 14.1rem;
      margin-top: 3rem;
      padding-right: 0;
      padding-left: 0;

      &-text {
        margin-right: 0.9rem;
        padding-left: 0rem;
      }

    }


    .buttontip-text {
      margin-right: 0.8rem;
      padding: 1.6rem 0 1.6rem 1rem;
    }

    .topcontent {
      &__item {
        padding-top: 3.6rem;
        padding-left: 2rem;

        &-headline {
          font-size: 2.5rem;
        }

        &-navigation {
          padding-bottom: 3.9rem;

          &-link {
            font-size: 1.4rem;

            &::before {
              top: 0;
            }
          }
        }
      }
    }

    .opportunities {
      padding-top: 5.7rem;

      .buttontip-arrow {
        padding-right: 0;
      }

      &__leftside {
        padding-bottom: 6.1rem;
        padding-right: 1rem;

        &-headline {
          padding-top: 0.6rem;
          font-size: 2.4rem;
        }

        &-description {
          padding-top: 0.6rem;
          font-size: 1.6rem;
        }
      }

      &__services {
        &-item {
          padding-right: 1.7rem;
          padding-left: 2rem;

          &-number {}

          &-description {
            font-size: 1.6rem;

            &-link {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .error {
    .container__right-btn {
      width: 20rem;
    }

    .container {
      &__left {
        &-text {
          font-size: 18rem;
        }
      }

      &__right {
        &-oops {
          font-size: 5.2rem;
        }
      }
    }
  }

  .feedback {
    width: 44.5rem;

    .modal__close {
      top: 1rem;
      right: 1rem;
    }

    &__wrap {

      &-headline {
        font-size: 2.4rem;
      }

      &-text {
        padding-top: 1.5rem;
        font-size: 1.6rem;
      }
    }
  }


}

@media all and (max-width:320px) {
  .topcontent__item-navigation-link::before {
    top: 0;
  }
  .slogan .slide__item{
    width: 60%;
  }

  .can-help {
    .bottom-block {
      &__leftside {
        &-item {
          &-number {
            height: 4rem;
          }
        }
      }
    }
  }

  .main-content {
    .opportunities {
      &__services {
        padding-bottom: 6rem;

        &-item {
          padding-top: 1.7rem;
          padding-bottom: 1.8rem;

          &-description {
            padding-left: 1.4rem;
          }

          &-number {}
        }
      }
    }
  }

  .efficiency .buttontip-text {
    font-size: 1.3rem;
  }

  .buttontip_change-width-text {
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-right: 0.9rem;
  }

  .buttontip_change-width-help-text {
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-right: 0.9rem;
  }

  .buttontip-text {
    font-size: 1.3rem;
  }

  .btn-arrow {
    padding: 0;
    margin: 0;
    padding-right: 1rem;
  }

  .buttontip-arrow {
    padding: 0;
  }

  .about .container .wrap .item .blocks__leftside-link-text {
    padding-left: 1rem;
  }

  .buttontip_change-width-effect {
    width: 17.5rem;
  }

  .comments__slider-item-author {
    padding-bottom: 3.6rem;
  }



  .buttontip-text {
    margin-right: 0.9rem;
  }



  .about .container .wrap .item .blocks__leftside-link-text {
    font-size: 1.3rem;
  }



  .mailing .wrap__item-desc-form-button-text {
    font-size: 1.3rem;
  }

  .mailing .wrap__item-desc-form-button {
    width: 21.5rem;
  }

  .slogan__mid .slide__item-wrap-btn-text {
    font-size: 1.3rem;
  }
}