.modal {
    display: none;
    // max-width: 80rem;
    position: relative;

    &__close {
        display: block;
        position: absolute;
        top: 4rem;
        right: 4rem;
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        border: none;
        padding: 0;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }

        &-img {
            max-width: 100%;
        }
    }


}


.modal-privacy {


    &__item {
        max-width: 80rem;
        padding-left: 6rem;
        padding-top: 4.7rem;
        padding-right: 5.6rem;

        &-headline {
            margin: 0;
            display: inline-block;
            font-family: "Playfair Display";
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 120%;
            /* or 66px */
            max-width: 63.6rem;
            /* Text */
            color: #393A4E;
            margin-bottom: 2.6rem;
        }

        &-text {

            max-width: 68.4rem;
            margin: 0 auto;
            font-family: "Hind", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 168%;
            /* or 30px */

            /* Text */
            color: #393A4E;
        }
    }
}

.modal-callback {
    max-width: 64.5rem;

    &__item {
        padding-top: 5.8rem;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;

        &-areas {
            display: inline-block;
        }

        &-headline {
            padding-top: 2.7rem;
            margin: 0;
            display: inline-block;
            width: 52.8rem;
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            line-height: 120%;
            color: #393A4E;
            padding-bottom: 5.1rem;
        }

        &-form {
            display: flex;
            flex-direction: column;

            &-check {
                display: none;

                &:checked+.modal-callback__item-form-text::before {
                    background: url(..//img/check.svg) center center no-repeat;
                    // background-size: auto;
                }
            }


            &-point {
                border-radius: 0;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                resize: none;
                padding: 2.9rem 0 2.7rem 3.7rem;
                width: 100%;
                display: inline-block;
                margin-bottom: 1.4rem;
                outline: none;
                outline-offset: 0;
                border: 0;
                border: 2px solid #E6E7E7;

                font-family: "Hind", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
                /* or 21px */

                /* Grey */
                color: black;

                &::placeholder {
                    font-family: "Hind", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 132%;
                    /* or 21px */
                    /* Grey */
                    color: #9D9CA4;
                }

                &:focus {
                    border: 2px solid #5E4AC5;
                }
            }

            &-text {
                padding-left: 2.5rem;
                font-family: "Hind", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 132%;
                color: #9D9CA4;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    border-radius: 0;
                    -webkit-appearance: none;
                    top: 0rem;
                    left: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                    border: 1px solid #EEEEEE;
                    position: absolute;
                }

                &-link {
                    color: #8EC2F5;
                    text-decoration: none;
                }
            }

            &-btn {
                max-width: 24.7rem;
                padding-top: 2.4rem;
                padding-bottom: 2.1rem;
                margin-top: 3.4rem;
                font-family: "Hind", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 115.3%;
                /* identical to box height, or 15px */
                letter-spacing: 0.25em;
                text-transform: uppercase;
                background: #8EC2F5;
                color: #fff;
                outline: none;
                outline-offset: 0;
                border: 0;
                cursor: pointer;

                &:disabled {
                    background: #B7B7B7;
                    color: #9D9CA3;
                    cursor: default;
                }
            }
        }
    }
}

.feedback {
    width: 64.5rem;
    .modal__close{
        top: 3rem;
        right: 3rem;
    }
    &__wrap {
        padding-top: 6.5rem;
        padding-bottom: 6.8rem;
        display: flex;
        flex-direction: column;
        max-width: 41.1rem;
        margin: 0 auto;

        &-headline {
            font-family: "Playfair Display", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 4rem;
            line-height: 141.6%;
            /* or 57px */
            text-align: center;

            /* Text color */
            color: #000000;
        }

        &-text {
            display: inline-block;
            padding-top: 3rem;
            font-family: "Hind",sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 146%;
            /* or 26px */
            text-align: center;

            /* Grey */
            color: #9D9CA4;
        }
    }
}

.fancybox-content {
    padding: 0;
}

.fancybox-slide {
    overflow-y: scroll;
    padding-top: 6rem;
}

.fancybox-button {
    display: none;
}