.main-content {
	.topcontent {
		background: #2E3340 url('..//img/flash.svg') center center/auto no-repeat;
		width: 100%;
		position: relative;
		overflow: hidden;


		&__item {
			padding-top: 5.9rem;
			padding-left: 7.5rem;
			display: flex;
			flex-direction: column;

			&-headline {
				margin: 0;
				font-family: "Playfair Display", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 6.2rem;
				line-height: 105.3%;
				color: #FFFFFF;
			}

			&-navigation {
				display: flex;
				padding-top: 2.2rem;
				list-style-type: none;
				margin: 0;
				padding-bottom: 5.8rem;
				padding-left: 0;



				&-link {
					text-decoration: none;
					position: relative;
					font-family: "Hind", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 1.8rem;
					line-height: 132%;
					color: #FFFFFF;
					margin-right: 2rem;

					&:last-of-type {
						color: #8EC2F5;
					}

					&::before {
						content: "";
						display: inline-block;
						position: absolute;
						right: -0.9rem;
						width: 0.1rem;
						height: 1.6rem;
						background: white;
						top: 0.3rem;
					}

					&:last-of-type {
						&::before {
							background: transparent;
						}
					}
				}
			}
		}
	}

	.opportunities {
		padding-top: 11.9rem;
		max-width: 117rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		&__leftside {
			display: flex;
			flex-direction: column;
			max-width: 53.7rem;
			padding-right: 2rem;

			&-headline {
				padding-top: 2.7rem;
				font-family: "Playfair Display", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 5.5rem;
				line-height: 120%;
				color: #393A4E;
				margin: 0;
			}

			&-description {
				padding-top: 4.1rem;
				font-family: "Hind", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 1.7rem;
				line-height: 144%;
				/* or 24px */

				/* Grey */
				color: #9D9CA4;
				p{
					span{
						display: block;
					}
				}
			}
			
		}

		&__services {
			display: flex;
			flex-direction: column;
			padding-bottom: 12rem;

			&-item {
				background-color: white;
				padding: 3rem 5.7rem 3.5rem 3.8rem;
				display: flex;

				&:nth-of-type(odd) {
					
					background-color: #F3F4F4;
				}

				&-number {
					background: #8EC2F5;
					// width: 6rem;
					padding: 0 2.48rem 0 2.48rem;
					height: 6rem;
					display: flex;
					align-items: center;
					justify-content: center;
					

					&-text {
						font-family: "Hind", sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 1.4rem;
						line-height: 132%;
						/* or 18px */
						/* White */
						color: #FFFFFF;
					}
				}

				&-description {
					display: inline-block;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-left: 3.5rem;
					font-family: "Playfair Display", sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 2rem;
					line-height: 125%;
					/* or 22px */
					display: flex;
					
					max-width: 27.5rem;
					/* Text */
					color: #393A4E;
					

					&-link {
						display: inline-block;
						padding-bottom: 0.9rem;
						text-decoration: none;
						font-family: "Hind",sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 1.6rem;
						line-height: 132%;
						/* or 21px */

						/* Text */
						color: #393A4E;
						&:first-of-type{
							padding-top: 1.5rem;
						}
						&:last-of-type{
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}