.topcontent {
	background: #2E3340 url('..//img/flash.svg') center center/auto no-repeat;
	// width: 100%;
	position: relative;
	overflow: hidden;
	margin-left: 6rem;


	&__item {
		padding-top: 5.9rem;
		padding-left: 7.5rem;
		display: flex;
		flex-direction: column;
		padding-bottom: 5.8rem;

		@media all and (max-width:700px) {
			padding-left: 2.5rem;
		}

		@media all and (max-width:480px) {
			padding-left: 2rem;
			padding-top: 3.6rem;
			padding-bottom: 3.8rem;
			
		}

		&-headline {
			margin: 0;
			font-family: "Playfair Display", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 6.2rem;
			line-height: 105.3%;
			color: #FFFFFF;

			@media all and (max-width:700px) {
				font-size: 5rem;
			}

			@media all and (max-width:600px) {
				font-size: 4rem;
			}

			@media all and (max-width:480px) {
				font-size: 2.5rem;
			}
		}

		&-navigation {
			display: flex;
			padding-top: 2.2rem;
			list-style-type: none;
			margin: 0;
			
			padding-left: 0;



			&-link {
				text-decoration: none;
				position: relative;
				font-family: "Hind", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 132%;
				color: #FFFFFF;
				margin-right: 2rem;

				&:last-of-type {
					color: #8EC2F5;
				}

				&::before {
					content: "";
					display: inline-block;
					position: absolute;
					right: -0.9rem;
					width: 0.1rem;
					height: 1.6rem;
					background: white;
					top: 0.3rem;
				}

				&:last-of-type {
					&::before {
						background: transparent;
					}
				}

				@media all and (max-width:480px) {
					font-size: 1.4rem;
					
				}
			}
		}
	}

}

.efficiency {
	&_resize{
		.item{
			&__leftside{
				&-photo{
					&:last-of-type{
						display: none;
					}
				}
			}
		}
	}
	#container3 {
		width: 18rem;
		height: 18rem;
		position: relative;
	}

	#container4 {
		width: 18rem;
		height: 18rem;
		position: relative;
	}

	.progressbar-text {
		width: 100%;
		text-align: center
	}

	// flex-direction: column;

}