{% extends 'base.html' %}

{% load static %}

{% block page_title %}Страница не найдена{% endblock %}


  <section class="error">
    <div class="container">
      <div class="container__left">
        <span class="container__left-text">
          404
        </span>
      </div>

      <div class="container__right">
        <span class="container__right-oops">Упс…</span>
        <span class="container__right-text">Извините, что-то пошло не так</span>
        <a href="index.html" class="container__right-btn" onclick="document.addEventListener('touchstart', function() {}, false)">
          <span class="container__right-btn-text">
            На главную
          </span>
          <img src="img/arrow.svg" alt="" class="container__right-btn-arw">
        </a>
      </div>


    </div>
  </section>


  <footer class="footer wrapper">
      <div class="item">
        <div class="item__topcontent">
          <div class="item__topcontent-logotype">
            <a href="#" class="item__topcontent-logotype-link">
              <img src="img/white-logo-mobile.svg" class="item__topcontent-logotype-link-logo" alt="">
              <img src="img/white-logo-mob.svg" alt="Логотип" class="item__topcontent-logotype-link-logomob">
            </a>
          </div>
  
          <div class="item__topcontent-columns">
            <a href="#about" class="item__topcontent-columns-headline">
              О нас
            </a>
          </div>
  
          <div class="item__topcontent-columns">
            <a href="#" class="item__topcontent-columns-headline">
              Практики компании
            </a>
          </div>
  
          <div class="item__topcontent-columns">
            <h4 class="item__topcontent-columns-headline">
              Принципы сотрудничества
            </h4>
            <a href="index.html#efficiency" class="item__topcontent-columns-link">Эффективность</a>
            <a href="trust.html" class="item__topcontent-columns-link">Доверие</a>
            <a href="quality.html" class="item__topcontent-columns-link">Гарантия качества</a>
            <a href="safety.html" class="item__topcontent-columns-link">Технологичность и безопасность</a>
          </div>
        </div>
        <div class="item__bottom">
          <span class="item__bottom-copyright"><a href="#" class="item__bottom-copyright-link">Accept-nn.ru</a> @ 2019.
            Все
            права защищены</span>
          <a href="index.html#callback" class="item__bottom-call">Контакты</a>
  
          <div class="item__bottom-social">
            <a href="https://vk.com/acceptlawgroup" target="_blank" class="item__bottom-social-link">
              <img src="img/facebook.svg" alt="" class="item__bottom-social-link-logo">
            </a>
  
            <a href="https://www.instagram.com/acceptgroup" target="_blank" class="item__bottom-social-link">
              <img src="img/inst.svg" alt="" class="item__bottom-social-link-logo">
            </a>
          </div>
        </div>
  
      </div>
    </footer>


  <div class="modal-callback modal" id="modal-callback">
    <button class="modal__close"><img class="modal__close-img" src="img/x.svg" alt="Закрыть"></button>
    <div class="modal-callback__item">
      <h4 class="modal-callback__item-areas text">
        Свяжитесь с нами
      </h4>
      <h3 class="modal-callback__item-headline">
        Обратный звонок
      </h3>
      <form class="modal-callback__item-form">
        <label for="">
          <input type="text" placeholder="Введите ваше имя" class="modal-callback__item-form-point" required autoFocus>
        </label>
        <label for="">
          <input type="tel" placeholder="Введите ваш телефон" class="modal-callback__item-form-point" required id="number">
        </label>
        <label for="">
          <textarea placeholder="Сообщение" class="modal-callback__item-form-point" required minlength="3"
            rows="5"></textarea>
        </label>
        <input type="checkbox" class="modal-callback__item-form-check form__checkbox" id="allow">
        <label for="allow" class="modal-callback__item-form-text">
          С
          <a href="#" class="modal-callback__item-form-text-link" data-fancybox data-src="#modal-privacy">
            политикой конфиденциальности
          </a>
          ознакомлен
        </label>
        <button type="submit" class="modal-callback__item-form-btn" id="submit" disabled="disabled">
          Заказать звонок
        </button>
      </form>
    </div>
  </div>

  <div class="feedback modal" id="modal-feedback">
    <button class="modal__close"><img class="modal__close-img" src="img/x.svg" alt="Закрыть"></button>
    <div class="feedback__wrap">
      <span class="feedback__wrap-headline">Заявка отправлена!</span>
      <span class="feedback__wrap-text">Мы перезвоним вам в течение 15 минут</span>
    </div>
  </div>

  <div class="menu-mobile">
      <img src="img/close.svg" alt="Закрыть" class="menu-mobile__close">
      <div class="container">
        <div class="container__logo">
          <a href="" class="container__logo-link">
            <img src="img/white-logo.svg" alt="Логотип" class="container__logo-link-logo">
            <img src="img/white-logo-mob.svg" alt="Логотип" class="container__logo-link-mobile">
          </a>
        </div>
        <nav class="container__nav">
          <ul class="container__nav-item">
            <a href="index.html#about" class="container__nav-item-call">
              О нас
            </a>
  
            <a href="perfomance.html" class="container__nav-item-call">
              Практики компании
            </a>
  
            <li><a href="" class="container__nav-item-link">
                Принципы сотрудничества
                <span class="container__nav-item-link-wrap"><span
                    class="container__nav-item-link-wrap-down"></span></span>
                <ul class="container__nav-item-link-submenu">
                  <li><a href="index.html#efficiency" class="container__nav-item-link-submenu-linked">Эффективность</a></li>
                  <li><a href="trust.html" class="container__nav-item-link-submenu-linked">Доверие</a></li>
                  <li><a href="quality.html" class="container__nav-item-link-submenu-linked">Гарантия качества</a></li>
                  <li><a href="safety.html" class="container__nav-item-link-submenu-linked">Технологичность и
                      безопасность</a></li>
                </ul>
              </a>
  
            </li>
            <a href="index.html#callback" class="container__nav-item-call">Контакты</a>
            <a href="#" class="container__nav-item-link" data-fancybox data-src="#modal-callback">Обратный звонок</a>
          </ul>
        </nav>
        <div class="container__social">
          <a href="https://vk.com/acceptlawgroup" class="container__social-link"><img src="img/facebookmob.svg" alt="Вконтакте"></a>
          <a href="https://www.instagram.com/acceptgroup/" class="container__social-link"><img src="img/instmob.svg" alt="Instagram"></a>
        </div>
      </div>
    </div>

</body>
<script src="./js/main.js"></script>

</html>