{% extends 'html5.html' %}
{% load static %}
{% block html_body %}
<div id="toTop" class="top">
    <img src="{% static 'img/top.svg' %}" alt="Вверх" class="top__img">
</div>

<header class="header navbar-fixed-top">
    <div class="container">
        <div class="container__logo">
            <a href="{% url 'index' %}" class="container__logo-full"><img src="{% static 'img/logo-new.svg' %}"
                    alt="Логотип"></a>
            <a href="{% url 'index' %}" class="container__logo-new"><img src="{% static 'img/logo-solo.svg' %}"
                    alt="Логотип"></a>
            <a href="{% url 'index' %}" class="container__logo-mobile"><img
                    src="{% static 'img/logo-dark-mobile.svg' %}" alt="Логотип"></a>
        </div>
        <nav class="container__nav">
            <ul class="container__nav-menu">
                <li class="container__nav-menu-item"><a href="{% url 'index' %}#about"
                        class="container__nav-menu-item-linked">О нас</a>
                </li>
                <li class="container__nav-menu-item">
                    <a href="{% url 'practice' %}" class="container__nav-menu-item-linked">
                        Практики компании
                    </a>
                </li>
                <li class="container__nav-menu-item">
                    <span class="container__nav-menu-item-linked">
                        Принципы сотрудничества
                    </span>
                    <ul class="container__nav-menu-submenu downmenu downmenu_principles">
                        <li class="container__nav-menu-submenu-item downmenu-item">
                            <a href="{% url 'index' %}#efficiency"
                                class="container__nav-menu-submenu-item-link downmenu-item-link">
                                Эффективность
                            </a>
                        </li>
                        <li class="container__nav-menu-submenu-item downmenu-item">
                            <a href="{% url 'trust' %}" class="container__nav-menu-submenu-item-link downmenu-item-link">
                                Доверие
                            </a>
                        </li>
                        <li class="container__nav-menu-submenu-item downmenu-item">
                            <a href="{% url 'quality' %}" class="container__nav-menu-submenu-item-link downmenu-item-link">
                                Гарантия качества
                            </a>
                        </li>
                        <li class="container__nav-menu-submenu-item downmenu-item">
                            <a href="{% url 'safety' %}" class="container__nav-menu-submenu-item-link downmenu-item-link">
                                Технологичность и безопасность
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="container__nav-menu-item">
                    <a href="{% url 'index' %}#callback" class="container__nav-menu-item-linked">
                        Контакты
                    </a>
                </li>
            </ul>

        </nav>
        <a href="" class="container__callback" data-fancybox data-src="#modal-callback">
            <div class="container__callback-logo">
                <img src="{% static 'img/phone.svg' %}" alt="Позвонить" class="container__callback-logo-img">
                <img src="{% static 'img/phone-white.svg' %}" alt="Позвонить" class="container__callback-logo-img2">
            </div>
            <div class="container__callback-description">
                <span class="container__callback-description-text">Обратный звонок</span>
                <span class="container__callback-description-number">
                    8 (831) 2-911-260
                </span>
            </div>
        </a>
        <button class="container__burger"><img src="{% static 'img/burger.svg' %}" alt="Меню"></button>
    </div>
</header>

<div class="slogan__left">
    <span class="slogan__left-text">
        Простые пути для умных решений!
    </span>

</div>

<div class="slogan__right">
    <a href="https://vk.com/acceptlawgroup" target="_blank" class="slogan__right-social">Вконтакте</a>
    <a href="https://www.instagram.com/acceptgroup/" target="_blank" class="slogan__right-social">Instagram</a>
</div>

{% block content %}{% endblock %}

<footer class="footer wrapper">
    <div class="item">
        <div class="item__topcontent">
            <div class="item__topcontent-logotype">
                <a href="#" class="item__topcontent-logotype-link">
                    <img src="{% static 'img/white-logo-mobile.svg' %}" class="item__topcontent-logotype-link-logo"
                        alt="">
                    <img src="{% static 'img/white-logo-mob.svg' %}" alt="Логотип"
                        class="item__topcontent-logotype-link-logomob">
                </a>
            </div>

            <div class="item__topcontent-columns">
                <a href="{% url 'index' %}#about" class="item__topcontent-columns-headline">
                    О нас
                </a>
            </div>

            <div class="item__topcontent-columns">
                <a href="#" class="item__topcontent-columns-headline">
                    Практики компании
                </a>
            </div>

            <div class="item__topcontent-columns">
                <h4 class="item__topcontent-columns-headline">
                    Принципы сотрудничества
                </h4>
                <a href="{% url 'index' %}#efficiency" class="item__topcontent-columns-link">Эффективность</a>
                <a href="{% url 'trust' %}" class="item__topcontent-columns-link">Доверие</a>
                <a href="{% url 'quality' %}" class="item__topcontent-columns-link">Гарантия качества</a>
                <a href="{% url 'safety' %}" class="item__topcontent-columns-link">Технологичность и безопасность</a>
            </div>
        </div>
        <div class="item__bottom">
            <span class="item__bottom-copyright"><a href="#" class="item__bottom-copyright-link">Accept-nn.ru</a> @
                2019.
                Все
                права защищены</span>
            <a href="{% url 'index' %}#callback" class="item__bottom-call">Контакты</a>

            <div class="item__bottom-social">
                <a href="https://vk.com/acceptlawgroup" target="_blank" class="item__bottom-social-link">
                    <img src="{% static 'img/facebook.svg' %}" alt="" class="item__bottom-social-link-logo">
                </a>

                <a href="https://www.instagram.com/acceptgroup" target="_blank" class="item__bottom-social-link">
                    <img src="{% static 'img/inst.svg' %}" alt="" class="item__bottom-social-link-logo">
                </a>
            </div>
        </div>

    </div>
</footer>

<div class="menu-mobile">
    <img src="{% static 'img/close.svg' %}" alt="Закрыть" class="menu-mobile__close">
    <div class="container">
      <div class="container__logo">
        <a href="" class="container__logo-link">
          <img src="{% static 'img/white-logo.svg' %}" alt="Логотип" class="container__logo-link-logo">
          <img src="{% static 'img/white-logo-mob.svg' %}" alt="Логотип" class="container__logo-link-mobile">
        </a>
      </div>
      <nav class="container__nav">
        <ul class="container__nav-item">
          <a href="#about" class="container__nav-item-call">
            О нас
          </a>
  
          <a href="{ url 'practice'}" class="container__nav-item-call">
            Практики компании
          </a>
  
          <li><a href="" class="container__nav-item-link">
              Принципы сотрудничества
              <span class="container__nav-item-link-wrap"><span class="container__nav-item-link-wrap-down"></span></span>
              <ul class="container__nav-item-link-submenu">
                <li><a href="{% url 'index' %}#efficiency" class="container__nav-item-link-submenu-linked">Эффективность</a></li>
                <li><a href="{% url 'trust' %}" class="container__nav-item-link-submenu-linked">Доверие</a></li>
                <li><a href="{% url 'quality' %}" class="container__nav-item-link-submenu-linked">Гарантия качества</a></li>
                <li><a href="{% url 'safety' %}" class="container__nav-item-link-submenu-linked">Технологичность и
                    безопасность</a></li>
              </ul>
            </a>
  
          </li>
          <a href="{% url 'index' %}#callback" class="container__nav-item-call">Контакты</a>
          <a href="#" class="container__nav-item-link" data-fancybox data-src="#modal-callback">Обратный звонок</a>
        </ul>
      </nav>
      <div class="container__social">
        <a href="https://vk.com/acceptlawgroup" class="container__social-link"><img src="{% static 'img/facebookmob.svg' %}"
            alt="Вконтакте"></a>
        <a href="https://www.instagram.com/acceptgroup/" class="container__social-link"><img src="{% static 'img/instmob.s' %}vg"
            alt="Instagram"></a>
      </div>
    </div>
  </div>

<!-- Modals -->
<div class="modal-privacy modal" id="modal-privacy">
    <button class="modal__close"><img class="modal__close-img" src="{% static 'img/x.svg' %}" alt="Закрыть"></button>
    <div class="modal-privacy__item">
      <h2 class="modal-privacy__item-headline">
        Политика конфиденциальности
      </h2>
      <span class="modal-privacy__item-text">
        <p> Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года Вы
          подтверждаете свое согласие на обработку компанией <КОМПАНИЯ> персональных данных: сбор, систематизацию,
            накопление, хранение, уточнение (обновление, изменение), использование, передачу исключительно в целях
            продажи
            программного обеспечения на Ваше имя, как это описано ниже, блокирование, обезличивание, уничтожение.</p>
        <p> Компания <КОМПАНИЯ> гарантирует конфиденциальность получаемой информации. Обработка персональных данных
            осуществляется в
            целях эффективного исполнения заказов, договоров и иных обязательств, принятых компанией <КОМПАНИЯ> в
              качестве
              обязательных к исполнению.</p>
        <p>В случае необходимости предоставления Ваших персональных данных правообладателю,
          дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на ваше
          имя, вы даёте согласие на передачу ваших персональных данных. Компания <КОМПАНИЯ> гарантирует, что
            правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных
            данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных. </p>
        <p>Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия, имя и отчество, адрес
          электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты. Срок действия
          согласия является неограниченным. Вы можете в любой момент отозвать настоящее согласие, направив
          письменное уведомления на адрес: 000000, г. <ГОРОД>, ул. <УЛИЦА>, д. <ДОМ>, офис <ОФИС> с пометкой «Отзыв
                  согласия на обработку персональных данных».</p>
        <p>Обращаем ваше внимание, что отзыв согласия на
          обработку персональных данных влечёт за собой удаление Вашей учётной записи с Интернет-сайта
          (http://вашсайт.ru), а также уничтожение записей, содержащих ваши персональные данные, в системах
          обработки персональных данных компании <КОМПАНИЯ>, что может сделать невозможным пользование
            интернет-сервисами компании <КОМПАНИЯ>.</p>
        <p> Гарантирую, что представленная мной информация является
          полной, точной и достоверной, а также что при представлении информации не нарушаются
          действующее законодательство Российской Федерации, законные права и интересы третьих лиц. Вся
          представленная информация заполнена мною в отношении себя лично. Настоящее согласие действует
          в течение всего периода хранения персональных данных, если иное не предусмотрено
          законодательством Российской Федерации.</p>
      </span>
    </div>
  </div>
  
  <div class="modal-callback modal" id="modal-callback">
    <button class="modal__close"><img class="modal__close-img" src="{% static 'img/x.svg' %}" alt="Закрыть"></button>
    <div class="modal-callback__item">
      <h4 class="modal-callback__item-areas text">
        Свяжитесь с нами
      </h4>
      <h3 class="modal-callback__item-headline">
        Обратный звонок
      </h3>
      <form class="modal-callback__item-form" id="callback-form" action="{% url 'send_email' %}" method="post">
            {% csrf_token %}
        <label for="">
          <input type="text" placeholder="Введите ваше имя" class="modal-callback__item-form-point" name="name" required>
        </label>
        <label for="">
          <input id="number" type="tel" placeholder="Введите ваш телефон" name="email"
            class="modal-callback__item-form-point">
        </label>
        <label for="">
          <textarea placeholder="Сообщение" class="modal-callback__item-form-point" name="message" required minlength="3"
            rows="5"></textarea>
        </label>
        <input type="checkbox" class="modal-callback__item-form-check form__checkbox" id="allow">
        <label for="allow" class="modal-callback__item-form-text">
          С
          <a href="#" class="modal-callback__item-form-text-link" data-fancybox data-src="#modal-privacy">
            политикой конфиденциальности
          </a>
          ознакомлен
        </label>
        <button type="submit" class="modal-callback__item-form-btn" id="submit" disabled="disabled">
          Заказать звонок
        </button>
      </form>
    </div>
  </div>
  
  <div class="feedback modal" id="modal-feedback">
    <button class="modal__close"><img class="modal__close-img" src="{% static 'img/x.svg' %}" alt="Закрыть"></button>
    <div class="feedback__wrap">
      <span class="feedback__wrap-headline">Заявка отправлена!</span>
      <span class="feedback__wrap-text">Мы перезвоним вам в течение 15 минут</span>
    </div>
  </div>
{% endblock %}