{% extends 'base.html' %}
{% load static %}

{% block page_title %}Accept{% endblock %}

{% block content %}
<section class="slogan">
  <div class="slider">
    <div class="slide">
      <div class="slogan__mid">

        <div class="slide__item">
          <div class="slide__item-wrap">
            <span class="slide__item-wrap-headline">
              Эффективность и доверие
            </span>
            <a href="#about" class="slide__item-wrap-btn">
              <span class="slide__item-wrap-btn-text">
                Информация о нас
              </span>
              <img src="{% static 'img/arrow.svg' %}" alt="Перейти" class="slide__item-wrap-btn-arrow">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="slide">
      <div class="slogan__mid background background_change">

        <div class="slide__item">
          <div class="slide__item-wrap">
            <span class="slide__item-wrap-headline">
              Всегда на защите ваших интересов
            </span>
            <a href="" class="slide__item-wrap-btn" data-fancybox data-src="#modal-callback">
              <span class="slide__item-wrap-btn-text">
                Начать проект
              </span>
              <img src="{% static 'img/arrow.svg' %}" alt="Перейти" class="slide__item-wrap-btn-arrow">
            </a>
          </div>
        </div>
        <a name="about" id="about"></a>
      </div>
    </div>

  </div>
</section>

<section class="about wrapper">
  <div class="container">
    <div class="wrap">
      <div class="item">
        <div class="blocks">
          <div class="blocks__leftside">
            <span class="blocks__leftside-text">
              Предоставление клиентам бесплатной юридической консультации, способствует принятие клиентом правильного
              решения о выборе способа решения возникшей проблемы. Мы верим, что только честные и экологичные
              взаимоотношения с клиентом являются гарантией роста.
            </span>
            <button type="button" class="blocks__leftside-link"
              onclick="document.addEventListener('touchstart', function() {}, false)" data-fancybox
              data-src="#modal-callback">
              <span class="blocks__leftside-link-text">
                Получить консультацию
              </span>

              <img src="{% static 'img/arrow.svg' %}" alt="Перейти" class="blocks__leftside-link-arrow">
            </button>
          </div>
          <div class="blocks__rightside">
            <h4 class="blocks__rightside-text">
              Добро пожаловать
            </h4>
            <h2 class="blocks__rightside-headline">
              Бесплатные юридические консультации
            </h2>
          </div>
        </div>
      </div>
    </div>
    <a name="cando" id="cando"></a>
  </div>
</section>

<section class="cando wrapper">
  <div class="item">
    <h4 class="areas text">
      области практики
    </h4>
    <h2 class="headline">
      Что мы можем сделать для вас
    </h2>
    <div class="services">
      <div class="services__item">
        <div class="services__item-top">
          <span class="services__item-top-logo">
            <img src="{% static 'img/serv1.svg' %}" alt="Юридическое сопровождение" class="services__item-logo-img">
          </span>
          <span class="services__item-top-link">
            Юридическое сопровождение
          </span>
        </div>
        <div class="services__item-bottom">
          <span class="services__item-bottom-description">
            Многие компании интересует юридическое сопровождение бизнеса по средним ценам в Нижнем Новгороде: это
            позволяет сэкономить неплохую сумму и получить качественную помощь в различных правовых вопросах
          </span>
        </div>
      </div>
      <div class="services__item">
        <div class="services__item-top">
          <span class="services__item-top-logo">
            <img src="{% static 'img/serv2.svg' %}" alt="Юридическое сопровождение" class="services__item-logo-img">
          </span>
          <span class="services__item-top-link">
            Защита в судебных органах
          </span>
        </div>
        <div class="services__item-bottom">
          <span class="services__item-bottom-description">
            Что делать если на меня подали в суд? С таким вопросом обращаются клиенты чаще всего и у нас есть ответы
            на этот вопрос. Профессиональная защита ваших интересов в суде одно из наших основных направлений
          </span>
        </div>
      </div>
      <div class="services__item">
        <div class="services__item-top">
          <span class="services__item-top-logo">
            <img src="{% static 'img/serv3.svg' %}" alt="Юридическое сопровождение" class="services__item-logo-img">
          </span>
          <span class="services__item-top-link">
            Юридическое решение вопросов
          </span>
        </div>
        <div class="services__item-bottom">
          <span class="services__item-bottom-description">
            Хороший юрист в Нижнем Новгороде работает именно в Accept. Не можете договориться с родственниками,
            соседями или партнерами по бизнесу? Мы знаем как вам нужно действовать, так как скорее всего уже помогли
            нашему довольному клиенту по подобному вопросу.
          </span>
        </div>
      </div>
      <div class="services__item">
        <div class="services__item-top">
          <span class="services__item-top-logo">
            <img src="{% static 'img/serv4.svg' %}" alt="Юридическое сопровождение" class="services__item-logo-img">
          </span>
          <span class="services__item-top-link">
            Консультация
          </span>
        </div>
        <div class="services__item-bottom">
          <span class="services__item-bottom-description">
            Необходима консультация юриста по телефону? Располагаете временем и готовы подъехать в офис Accept?
            Необходима комплексная консультация с изучением документов и судебной практики или вы уже в процессе
            судебного разбирательства? Мы всегда готовы вам помочь.
          </span>
        </div>
        <a name="philosophy" id="philosophy"></a>
      </div>
    </div>
  </div>
</section>

<a name="can-help" id="can-help"></a>
<section class="can-help wrapper">
  <div class="top-block">
    <h4 class="top-block__area text">
      как мы можем помочь
    </h4>
    <h2 class="top-block__headline">
      Практика недвижимость и строительство
    </h2>
    <div class="top-block__link">
      <button type="button" class="top-block__link-content buttontip buttontip_change-width-help">
        <a href="./perfomance.html">
          <span class="top-block__link-content-desc buttontip_change-width-help-text">
            Больше услуг
          </span>
        </a>
        <img src="{% static 'img/arrow.svg' %}" alt="Перейти" class="top-block__link-content-arr buttontip-arrow">
      </button>
    </div>
  </div>

  <div class="slide">
    <div class="wrap">
      <div class="item">
        <a href="#" class="item__block">
          <span class="item__block-text">
            Правовая оценка объектов приобретения
          </span>
        </a>
        <a href="#" class="item__block2 block block_change-back1">
          <span class="item__block-text">
            Помощь по земельным вопросам
          </span>
        </a>
        <a href="#" class="item__block3 block block_change-back2">
          <span class="item__block-text">
            Узаконивание объектов инвестирования и строительства. Признание
          </span>
        </a>
        <a name="def" id="def"></a>
      </div>
    </div>
  </div>
  <div class="bottom-block">
    <div class="bottom-block__leftside">
      <div class="bottom-block__leftside-item">
        <div class="bottom-block__leftside-item-number">
          <span class="bottom-block__leftside-item-number-text">
            1.
          </span>
        </div>
        <span class="bottom-block__leftside-item-description">
          Наши специалисты оценивают ваши риски и возможности
        </span>
      </div>

      <div class="bottom-block__leftside-item">
        <div class="bottom-block__leftside-item-number">
          <span class="bottom-block__leftside-item-number-text">
            2.
          </span>
        </div>
        <span class="bottom-block__leftside-item-description">
          Мы предоставляем вам план (дорожную карту) дальнейших действий
        </span>
      </div>

      <div class="bottom-block__leftside-item">
        <div class="bottom-block__leftside-item-number">
          <span class="bottom-block__leftside-item-number-text">
            3.
          </span>
        </div>
        <span class="bottom-block__leftside-item-description">
          Мы предоставляем вам персонального юриста или группу специалистов для разрешения вашего вопроса
        </span>
      </div>
    </div>

    <div class="bottom-block__rightside">
      <h4 class="bottom-block__rightside-area text">
        как мы можем помочь
      </h4>
      <h2 class="bottom-block__rightside-headline">
        Судебная защита
      </h2>
      <a name="comments" id="comments"></a>
      <span class="bottom-block__rightside-description">
        Выявление обстоятельств, имеющих значение для дела является важнейшей задачей при подготовке дела к судебному
        разбирательствву. Мы стремимся к совершенству на каждом этапе процесса планирования и представительства
      </span>
    </div>

  </div>
  <a name="efficiency" id="efficiency"></a>
</section>

<section class="efficiency wrapper">
  <div class="item">
    <div class="item__leftside">
      <img class="item__leftside-photo" src="{% static 'img/man.jpg' %}" alt="Эффективность" >
    </div>

    <div class="item__rightside">
      <h4 class="item__rightside-area text">
        Мы работаем на
      </h4>
      <h2 class="item__rightside-headline">
        Эффективность
      </h2>
      <div class="item__rightside-statistics-item">
        <div class="item__rightside-statistics-item-percent">
          <div id="container">

          </div>
        </div>
        <div class="item__rightside-statistics-item-description">
          <h5 class="item__rightside-statistics-item-description-headline">
            Выигранные дела
          </h5>
          <span class="item__rightside-statistics-item-description-text">
            Наши специалисты могут спрогнозировать успешность решения вашего вопроса на стадии планирования и
            подготовки
          </span>
        </div>
      </div>
      <div class="item__rightside-statistics-item">
        <div class="item__rightside-statistics-item-percent">
          <div id="container2">

          </div>
        </div>
        <div class="item__rightside-statistics-item-description">
          <h5 class="item__rightside-statistics-item-description-headline">
            Результат
          </h5>
          <span class="item__rightside-statistics-item-description-text">
            Мы готовы взять на себя вопросы исполнения решения суда
          </span>
        </div>
      </div><a name="callback" id="callback"></a>
    </div>

  </div>

</section>

<section class="callback wrapper">
  <div class="container">
    <div class="container__contact">
      <h4 class="container__contact-area text">Контактная информация</h4>
      <h3 class="container__contact-headline">
        Всегда готовы помочь Вам
      </h3>
      <div class="container__contact-communication">
        <div class="container__contact-communication-blocks">
          <div class="container__contact-communication-blocks-headinfo">
            <div class="container__contact-communication-blocks-logo icon">
              <img src="{% static 'img/Ellipse.s' %}vg" alt="" class="container__contact-communication-blocks-logo-icon icon-img">

            </div>
            <span class="container__contact-communication-blocks-headinfo-subtitle">
              Наше местонахождение
            </span>
          </div>
          <span class="container__contact-communication-blocks-point">
            Нижний Новгород, ул. Родионова, 169а, офис 6 <br>603093
          </span>
        </div>

        <div class="container__contact-communication-blocks">
          <div class="container__contact-communication-blocks-headinfo">
            <div class="container__contact-communication-blocks-logo icon">
              <img src="{% static 'img/phone.svg' %}" alt="" class="container__contact-communication-blocks-logo-icon icon-img">

            </div>
            <span class="container__contact-communication-blocks-headinfo-subtitle">
              Позвоните нам
            </span>
          </div>
          <span class="container__contact-communication-blocks-point">
            Запись на бесплатную консультацию: <a href="tel:+78000000000"
              class="container__contact-communication-blocks-point-link">8 (831) 2-911-260</a>
          </span>

        </div>

        <div class="container__contact-communication-blocks">
          <div class="container__contact-communication-blocks-headinfo">
            <div class="container__contact-communication-blocks-logo icon">
              <img src="{% static 'img/mail.svg' %}" alt="" class="container__contact-communication-blocks-logo-icon icon-img">

            </div>
            <span class="container__contact-communication-blocks-headinfo-subtitle">
              Электронное письмо
            </span>
          </div>
          <span class="container__contact-communication-blocks-point">
            <a href="mailto:info@accept-nn.ru"
              class="container__contact-communication-blocks-point-link">info@accept-nn.ru</a>
          </span>
        </div>
        <div class="container__contact-communication-blocks">
          <div class="container__contact-communication-blocks-headinfo">
            <div class="container__contact-communication-blocks-logo icon">
              <img src="{% static 'img/clock.svg' %}" alt="" class="container__contact-communication-blocks-logo-icon icon-img">

            </div>
            <span class="container__contact-communication-blocks-headinfo-subtitle">
              Часы работ
            </span>
          </div>
          <span class="container__contact-communication-blocks-point">
            Пн - Пт: 9-00 – 18-00
          </span>
        </div>
        <button type="button"
          class="container__contact-communication-btn buttontip buttontip_change-width-communication" data-fancybox
          data-src="#modal-callback">
          <span class="container__contact-communication-btn-text buttontip-text">
            Заказать обратный звонок
          </span>
          <img src="{% static 'img/arrow.svg' %}" alt="" class="container__contact-communication-buttontip-arrow btn-arrow">
          </a>
      </div>
    </div>

    <div class="container__photo">
      <img src="{% static 'img/man-width' %}-phone.png" alt="" class="container__photo-persona">
    </div>

  </div>
</section>

<section class="mailing wrapper">
  <div class="wrap">
    <div class="wrap__item">
      <div class="wrap__item-title">
        <h4 class="wrap__item-title-area text">Бизнесу</h4>
        <h4 class="wrap__item-title-headline">
          Запросить коммерческое предложение
        </h4>
      </div>

      <div class="wrap__item-desc">
        <form action="{% url 'offer_email' %}" method="POST" class="wrap__item-desc-form">
            {% csrf_token %}
          <input type="text" placeholder="Ф.И.О." class="wrap__item-desc-form-field" required>
          <input type="email" placeholder="Введите ваш E-mail" class="wrap__item-desc-form-field" required>
          <input type="checkbox" class="wrap__item-desc-form-checkbox form__checkbox" name="privacy"
            id="privacy-checkbox">
          <label for="privacy-checkbox" class="wrap__item-desc-form-privacy">

            <a href="#" class="wrap__item-desc-form-privacy-link" data-fancybox data-src="#modal-privacy">
              С политикой конфиденциальности ознакомлен
            </a>
          </label>
          <button type="submit" class="wrap__item-desc-form-button buttontip buttontip_change-width-sub"
            disabled="disabled">
            <span class="wrap__item-desc-form-button-text buttontip_change-width-sub-text">Отправить</span>
            <img src="{% static 'img/arrow.svg' %}" alt="" class="wrap__item-desc-form-button-arr buttontip-arrow">
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<div id="map"></div>
{% endblock %}



