{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="slogan">

</section>
  <section class="topcontent">
    <div class="topcontent__flash">

    </div>
    <div class="topcontent__item">
      <h3 class="topcontent__item-headline">
        Практики компании
      </h3>
      <div class="topcontent__item-navigation">
        <a href="{% url 'index' %}" class="topcontent__item-navigation-link">
          Главная
        </a>
        <a href="{% url 'practice' %}" class="topcontent__item-navigation-link">
          Практики компании
        </a>
        </li>
      </div>
    </div>
  </section>

  <section class="main-content wrapper ">

    <div class="opportunities">
      <div class="opportunities__leftside">
        <h4 class="opportunities__leftside-areas text">
          Бесплатные юридические консультации
        </h4>
        <h2 class="opportunities__leftside-headline">
          Бесплатные юридические консультации
        </h2>
        <span class="opportunities__leftside-description">
          <p>В существующих реалиях никто не застрахован от трудностей, при которых не обойтись
            без помощи грамотного юриста. Не имеет смысла переплачивать за консультацию, так как
            по уровню информативности и полезности они оказываются ниже результатов работы наших специалистов</p>
          <p>Среди основных причин, по которым Вам стоит прямо сейчас обратиться в Accept?
            <span>1. Предоставление актуальной информации;</span>
            <span>2. Большой опыт каждого сотрудника, предоставляющего консультации;</span>
            3. Индивидуальный подход;
          </p>
          <p>Что вы получаете? Ваши выгоды
            <span>1. Развернутый ответ на поставленный вопрос;</span>
            <span>2. Возможные риски, которые вам грозят или отсутствие таковых;</span>
            <span>3. Варианты решения возникшей проблемы</span>
          </p>
          <p>Как получить бесплатную юридическую консультацию?
            <span>1. Выбрать удобную дату, время для получения консультаци;</span>
            <span> 2. Записать список, перечень необходимых документов для получения консультации или
              отправить документы по почте;</span>
            3. Получить консультацию по телефону, электронной почте или в офисе Accept
          </p>
        </span>
        <button type="button" href="#" class="opportunities__leftside-button getConsultig"
          onclick="document.addEventListener('touchstart', function() {}, false)" data-fancybox data-src="#modal-callback">
          <span class="opportunities__leftside-button getConsultig-text">
            Получить консультацию
          </span>
          <img src="{% static 'img/arrow.svg' %}" alt="" class="opportunities__leftside-button-arr getConsultig-arrow">
        </button>
      </div>

      <div class="opportunities__services">
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              1.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Семейные споры
            <a href="#" class="opportunities__services-item-description-link">
              Расторжения брака;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Определения порядка общения с ребенком;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Лишение отцовства;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Взыскание алиментов;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Взыскание неусточки по алиментам;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Индексация алиментов;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Раздел имущества и иные;
            </a>
          </span>

        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              2.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Жилищные споры
            <a href="#" class="opportunities__services-item-description-link">
              Признание права;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Вселение и выселение из жилого помещения;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Дела о разделе имущества;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Прописка и регистрационный учет;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Приватизация;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Перепланировка;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Возмещение в результате пролива;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Перевод жилых помещений в нежилые и нежилых в жилые;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Определение порядка пользования;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Долевое участие в строительстве;
            </a>
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              3.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Наследственные споры
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              4.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Защита прав потребителей
            <a href="#" class="opportunities__services-item-description-link">
              Возврат денежных средств уплаченных за товар;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Получение безвозмедного устранения недостатков;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Компенисрование морального вреда;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Взыскание неустойки и штрафов;
            </a>
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              5.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Трудовые споры
            <a href="#" class="opportunities__services-item-description-link">
              Нарушение условий трудового договора;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Невыплата заработной платы;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Незаконный перевод;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Незаконное увольнение;
            </a>
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              6.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Автоюрист
            <a href="#" class="opportunities__services-item-description-link">
              Возврат автомобилей в салон и расторожение дкп;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Споры с автосалонами;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Умышленная порча автомобилей;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Возмещение ущерба в результате дтп;
            </a>
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              7.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Программа защиты заемщика
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              8.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Судебная защита кредитора
            <a href="#" class="opportunities__services-item-description-link">
              Урегулирование кредитных споров без суда;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Антиколлекторские услуги;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Экспертиза документов;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Рассрочка исполнения решения суда;
            </a>
          </span>
        </div>
        <div class="opportunities__services-item">
          <div class="opportunities__services-item-number">
            <span class="opportunities__services-item-number-text">
              9.
            </span>
          </div>
          <span class="opportunities__services-item-description">
            Списание долгов
            <a href="#" class="opportunities__services-item-description-link">
              Полное списание долгов;
            </a>
            <a href="#" class="opportunities__services-item-description-link">
              Банкротство;
            </a>
          </span>
        </div>

      </div>

    </div>
  </section>
  {% endblock %}