{% extends 'base.html' %}

{% load static %}

{% block content %}
  <section class="slogan">

  </section>
  <section class="topcontent">
    <div class="topcontent__flash">

    </div>
    <div class="topcontent__item">
      <h3 class="topcontent__item-headline">
        Гарантия качества
      </h3>
      <div class="topcontent__item-navigation">
        <a href="{% url 'index' %}" class="topcontent__item-navigation-link">
          Главная
        </a>
        <a href="{% url 'quality' %}" class="topcontent__item-navigation-link">
          Гарантия качества
        </a>
        </li>
      </div>
    </div>
  </section>
  <section class="efficiency wrapper efficiency_qualitysize">

    <div class="item efficiency_qualitysize">
      <div class="item__leftside">
        <img src="{% static 'img/man-girl.png' %}" alt="" class="item__leftside-photo">
        <img src="{% static 'img/man-girl-mobile.jpg' %}" alt="" class="item__leftside-photo">
        <a href="#" class="item__leftside-link getConsultig"
          onclick="document.addEventListener('touchstart', function() {}, false)" data-fancybox data-src="#modal-callback">
          <span class="item__leftside-link-content getConsultig-text">
            Получить консультацию
          </span>
          <img src="{% static 'img/arrow.svg' %}" alt="" class="item__leftside-link-content-arr getConsultig-arrow">
        </a>
      </div>

      <div class="item__rightside">
        <h4 class="item__rightside-area text">
        </h4>
        <h2 class="item__rightside-headline">
          Гарантия качества
        </h2>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <a href="#" class="item__rightside-statistics-item-percent-link logoup"><img src="{% static '' %}img/serv3.svg" alt=""
                class="item__rightside-statistics-item-percent-link-toplogo"></a>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Мы гарантируем предоставление клиенту только актуальной информации
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              Все риски по делу доводятся до клиента до заключения договора
            </span>
          </div>
        </div>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <a href="#" class="item__rightside-statistics-item-percent-link logoup"><img src="{% static '' %}img/madam.svg" alt=""
                class="item__rightside-statistics-item-percent-link-logo"></a>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Наиболее сложные дела ведутся под пристальным контролем опытных коллег и экспертов
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              Правовые позиции клиентов согласовываются с руководителями направлений
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}