{% extends 'base.html' %}

{% load static %}

{% block content %}
  <section class="slogan">

  </section>
  
  <section class="topcontent">
    <div class="topcontent__flash">

    </div>
    <div class="topcontent__item">
      <h3 class="topcontent__item-headline">
        Технологичность и безопасность
      </h3>
      <div class="topcontent__item-navigation">
        <a href="{% url 'index' %}" class="topcontent__item-navigation-link">
          Главная
        </a>
        <a href="{% url 'safety' %}" class="topcontent__item-navigation-link">
          Технологичность и безопасность
        </a>
        </li>
      </div>
    </div>
  </section>

  <section class="efficiency wrapper efficiency_safesize">
    <div class="item efficiency_resize">
      <div class="item__leftside">
        <img src="{% static 'img/safe.png' %}" alt="" class="item__leftside-photo">
        <img src="{% static 'img/safe-mobile.jpg' %}" alt="" class="item__leftside-photo">
        <a href="#" class="item__leftside-link getConsultig"
          onclick="document.addEventListener('touchstart', function() {}, false)" data-fancybox data-src="#modal-callback">
          <span class="item__leftside-link-content getConsultig-text">
            Получить консультацию
          </span>
          <img src="{% static 'img/arrow.svg' %}" alt="" class="item__leftside-link-content-arr getConsultig-arrow">
        </a>
      </div>

      <div class="item__rightside">
        <h4 class="item__rightside-area text">
        </h4>
        <h2 class="item__rightside-headline">
          Технологичность и безопасность
        </h2>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <a href="#" class="item__rightside-statistics-item-percent-link logoup"><img src="{% static 'img/resume.svg' %}" alt=""
                class="item__rightside-statistics-item-percent-link-toplogo"></a>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Персональные данные наших клиентов, а также обстоятельства дел закрыты для третьих лиц
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              Информация, полученная нами от клиентов является конфиденциальной
            </span>
          </div>
        </div>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <a href="#" class="item__rightside-statistics-item-percent-link logoup"><img src="{% static 'img/process.svg' %}" alt=""
                class="item__rightside-statistics-item-percent-link-logo"></a>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Технологии обработки документов, внедряемых в компанию, позволяют избежать типичных ошибок, допускаемых в
              работе конкурентами
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              Ресурсы компании позволяют обрабатывать, хранить и использовать значительные объемы информации
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}