{% extends 'base.html' %}

{% load static %}

{% block content %}

  <section class="slogan">

  </section>

  <section class="topcontent">
    <div class="topcontent__flash">

    </div>
    <div class="topcontent__item">
      <h3 class="topcontent__item-headline">
        Доверие
      </h3>
      <div class="topcontent__item-navigation">
        <a href="{% url 'index' %}}" class="topcontent__item-navigation-link">
          Главная
        </a>
        <a href="{% url 'trust' %}" class="topcontent__item-navigation-link">
          Доверие
        </a>
        </li>
      </div>
    </div>
  </section>
  
  <section class="efficiency wrapper efficiency_resize">

    <div class="item">
      <div class="item__leftside">
        <img src="{% static 'img/man.jpg' %}" alt="" class="item__leftside-photo">
        <img src="{% static 'img/man-mobile.jpg' %}" alt="" class="item__leftside-photo">
        <button type="button" class="item__leftside-link getConsultig" data-fancybox data-src="#modal-callback">
          <span class="item__leftside-link-content getConsultig-text">
            Получить консультацию
          </span>
          <img src="{% static 'img/arrow.svg' %}" alt="" class="item__leftside-link-content-arr getConsultig-arrow">
        </button>
      </div>

      <div class="item__rightside">
        <h4 class="item__rightside-area text">
          <!-- текст подписи -->
        </h4>
        <h2 class="item__rightside-headline">
          Наши показатели
        </h2>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <div id="container3">

            </div>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Доверие
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              9 из 10 клиентов обращаются к нам за консультациями по другим вопросам
            </span>
          </div>
        </div>
        <div class="item__rightside-statistics-item">
          <div class="item__rightside-statistics-item-percent">
            <div id="container4">

            </div>
          </div>
          <div class="item__rightside-statistics-item-description">
            <h5 class="item__rightside-statistics-item-description-headline">
              Результат
            </h5>
            <span class="item__rightside-statistics-item-description-text">
              7 из 10 обратившихся за помощью новых клиентов приходят по рекомендациям друзей
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}